/*关于flex*/

/**{*/
/*    border: 1px solid #222222;*/
/*}*/

.flex{
    display: flex;
}

.flex1{
    flex: 1;
}

.column{
    display: flex;
    flex-direction: column;
}

/*关于颜色*/
.m-backcolor{
    background-color: #f6f6f6;
}

.m-font-gray{
    color: #999999;
}

.m-headActive{
    color:black;
    font-size: 22px;
}

.m-black{
    color: #222222;
}

/*字体*/
.m-content-font{
    font-size: 12px;
    letter-spacing: 1.5px;
}

.m-card-title{
    font-size: 18px;
    letter-spacing: 1.5px;
}

.m-card-introduce{
    font-size: 14px;
    letter-spacing: 1.5px;
}

.m-card-content{
    font-size: 16px;
    letter-spacing: 1.5px;
}

.m-talk-username{
    font-size: 18px;
    letter-spacing: 1.5px;
}

.m-talk-content{
    font-size: 16px;
    letter-spacing: 1.5px;
}

.m-talk-input{
    width: 200px;
    padding: 4px;
    height: 25px;
    font-size: 16px;
}


/*布局*/
.m-mg8{
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.m-mgl8{
    margin-left: 8px;
}

/*图片*/
.m-headPicture-circle{
    border-radius: 50%;
    width: 23px;
    height: 23px;
}

.m-cardPicture{
    width: 80px;
    height: 60px;
    margin-right: 5px;
    border-radius: 5px
}

.m-talk-picture{
    border-radius: 3px;
    width: 42px;
    height: 40px
}

.m-cover{
    width: 80px;
    height: 60px;
    border-radius: 5px
}

/*评论相关*/
.m-comment-picture{
    border-radius: 3px;
    height: 30px;
    width: 30px;
}

.m-comment-userInfo{
    font-size: 14px;
    color: #999999;
}

.m-comment-content{
    letter-spacing: 1.5px;
    font-size: 16px;
}

/*激活*/
.m-activeDown{
    border-bottom: 2px solid blue;
}

.m-activeDown-while{
    border-bottom: 2px solid #999999;
}

/*按钮*/
.m-pill{
    border-radius: 30px;
    background-color:white;
    border: 1px solid #eeeeee;
    padding: 1px 6px;
}

.m-cancelFollow{
    background-color: #f83030;
    color: #EBEBEB;
    border: 0;
    border-radius: 3px;
    padding: 2px 6px;
}

.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 1px 3px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.m-passage{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    padding: 1px 3px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.m-answer{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    padding: 1px 3px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.m-underlineCancel{
    text-decoration: none;
}

.white{
    background-color: white;
}

.search{
    margin-left: 25px;
    margin-top: 8px;
    height: 34px;
    border-radius: 12px;
    width: 80%;
    background-color: #F6F6F6;
}

.search-font{
    font-size: 17px;
    margin-right: 6px;
    margin-top: 4px;
    letter-spacing: 2px;
    color: #0c81d7;
}

.search-icon{
    margin-top: 4px;
    margin-left: 4px;
    width: 20px;
    height: 20px;
}

.search-input{
    width: 100%;
    height: 28px;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: #F6F6F6;
}


/*选择*/
.m-edit{

}

.m-more{

}

.m-delete{

}

.m-answerInfo{

}