<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>收藏</title>
    <link rel="stylesheet" href="../static/css/maomao.css" th:href="@{/css/maomao.css}">
</head>
<body class="flex flex1 column" style="background-color: #e8e8e8;margin: 0">
    <div class="m-backcolor">
        <div class="flex m-mg8 column">
            <div class="flex">
                <div class="m-font-gray">返回</div>
                <div class="flex1" style="text-align: center">问题</div>
                <div class="m-font-gray" id="search_btn" style="margin-right: 8px">搜索</div>
            </div>
            <div id="search_area" hidden="false" style="text-align: center" class="m-backcolor">
                <label for="creationSearch"></label>
                <input type="text" id="creationSearch" placeholder="搜索">
            </div>
        </div>
    </div>
    <div>
        <div class="flex flex1 column m-backcolor" style="margin-bottom: 6px">
            <div class="flex1 m-mg8"><div class="m-passage" style="margin-right: 4px;margin-top: -3px">文章</div>标题：毛毛为何这么厉害</div>
            <div class="flex flex1" style="margin-left: 8px">
                <div class="flex column" style="flex: 3">
                    <div class="m-font-gray" style="font-size: 10px">内容我就是内容，我就是内容，内容就是我，冲冲冲，我就是内容</div>
                    <div class="m-font-gray" style="font-size: 10px;margin-top: 6px">2022-08-09</div>
                </div>
                <div>
                    <img alt="" style="width: 80px;height: 60px;margin-right: 8px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">
                </div>
            </div>
            <div class="flex" style="justify-content: space-between">
                <div class="flex1 m-mg8 m-font-gray" style="font-size: 10px">100 赞同 100收藏</div>
                <span class="m-more" style="margin-right: 8px;user-select: none" >. . .</span>
            </div>
        </div>
    </div>
    <div>
        <div class="flex flex1 column m-backcolor" style="margin-bottom: 6px">
            <div class="flex1 m-mg8"><div class="m-answer" style="margin-right: 4px;margin-top: -3px">回答</div>标题：毛毛为何这么厉害</div>
            <div class="flex flex1" style="margin-left: 8px">
                <div class="flex column" style="flex: 3">
                    <div class="m-font-gray" style="font-size: 10px">内容我就是内容，我就是内容，内容就是我，冲冲冲，我就是内容</div>
                    <div class="m-font-gray" style="font-size: 10px;margin-top: 6px">2022-08-09</div>
                </div>
                <div>
                    <img alt="" style="width: 80px;height: 60px;margin-right: 8px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">
                </div>
            </div>
            <div class="flex" style="justify-content: space-between">
                <div class="flex1 m-mg8 m-font-gray" style="font-size: 10px">100 赞同 100收藏</div>
                <span class="m-more" style="margin-right: 8px;user-select: none" >. . .</span>
            </div>
        </div>
    </div>
    <div>
        <div class="flex flex1 column m-backcolor" style="margin-bottom: 6px">
            <div class="flex1 m-mg8"><div class="m-answer" style="margin-right: 4px;margin-top: -3px">回答</div>标题：毛毛为何这么厉害</div>
            <div class="flex flex1" style="margin-left: 8px">
                <div class="flex column" style="flex: 3">
                    <div class="m-font-gray" style="font-size: 10px">内容我就是内容，我就是内容，内容就是我，冲冲冲，我就是内容</div>
                    <div class="m-font-gray" style="font-size: 10px;margin-top: 6px">2022-08-09</div>
                </div>
                <div>
                    <img alt="" style="width: 80px;height: 60px;margin-right: 8px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">
                </div>
            </div>
            <div class="flex" style="justify-content: space-between">
                <div class="flex1 m-mg8 m-font-gray" style="font-size: 10px">100 赞同 100收藏</div>
                <span class="m-more" style="margin-right: 8px;user-select: none" >. . .</span>
            </div>
        </div>
    </div>
    <div>
        <div class="flex flex1 column m-backcolor" style="margin-bottom: 6px">
            <div class="flex1 m-mg8"><div class="m-answer" style="margin-right: 4px;margin-top: -3px">回答</div>标题：毛毛为何这么厉害</div>
            <div class="flex flex1" style="margin-left: 8px">
                <div class="flex column" style="flex: 3">
                    <div class="m-font-gray" style="font-size: 10px">内容我就是内容，我就是内容，内容就是我，冲冲冲，我就是内容</div>
                    <div class="m-font-gray" style="font-size: 10px;margin-top: 6px">2022-08-09</div>
                </div>
                <div>
                    <img alt="" style="width: 80px;height: 60px;margin-right: 8px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">
                </div>
            </div>
            <div class="flex" style="justify-content: space-between">
                <div class="flex1 m-mg8 m-font-gray" style="font-size: 10px">100 赞同 100收藏</div>
                <span class="m-more" style="margin-right: 8px;user-select: none" >. . .</span>
            </div>
        </div>
    </div>
    <!--编辑-->
    <div id="edit" hidden="true" style="margin-top: 200px">
        <div style="position: fixed;bottom: 0;width: 100%">
            <div class="flex flex1 column" style="background-color: white;border-radius: 10px">
                <div style="margin-left: 10px;margin-top: 10px;margin-bottom: 20px">操作</div>
                <div class="flex flex1 column" style="margin-right: 20px">
                    <div style="margin-left: 20px;margin-bottom: 12px;font-size: 15px;border-bottom: 1px solid #EBEBEB">取消收藏</div>
                    <div id="move" style="margin-left: 20px;margin-bottom: 12px;font-size: 15px;border-bottom: 1px solid #EBEBEB">移动到其它收藏夹</div>
                </div>
            </div>
        </div>
    </div>

    <!--移动-->
    <div id="collectionMove" hidden="true">
        <div style="position: fixed;top: 0;width: 100%">
            <div class="flex flex1 column" style="background-color: white;border-radius: 10px">
                <div style="margin-left: 10px;margin-top: 10px;margin-bottom: 20px">移动收藏夹</div>
                <div class="flex flex1 column" style="margin-right: 20px">
                    <div style="margin-left: 20px;margin-bottom: 12px;">
                        <label for="collectionName"></label>
                        <input type="text" id="collectionName" placeholder="移动收藏夹的名称" style="margin-bottom: 6px">
                        <div class="flex m-backcolor" style="margin-bottom: 1px">
                            <div class="flex flex1 column">
                                <div class="flex column m-mg8">
                                    <div style="font-size: 13px" >毛毛der收藏夹</div>
                                </div>
                                <div class="flex flex1" style="justify-content: space-between;margin-bottom: 8px">
                                    <div class="m-font-gray" style="font-size: 10px;margin-left: 8px;margin-top: -2px">3 个内容</div>
                                </div>
                            </div>
                        </div>
                        <div class="flex m-backcolor" style="margin-bottom: 1px">
                            <div class="flex flex1 column">
                                <div class="flex column m-mg8">
                                    <div style="font-size: 13px" >毛毛der收藏夹</div>
                                </div>
                                <div class="flex flex1" style="justify-content: space-between;margin-bottom: 8px">
                                    <div class="m-font-gray" style="font-size: 10px;margin-left: 8px;margin-top: -2px">3 个内容</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex flex1" style="justify-content: right;margin-bottom: 10px">
                            <button style="margin-right: 4px">移动</button>
                            <button id="cancel" >取消</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
<script>
    let search_btn = document.getElementById("search_btn");
    let search_area = document.getElementById("search_area");
    let delete_open = document.querySelectorAll(".m-more");
    let edit = document.getElementById("edit");
    let move_btn = document.getElementById("move");
    let collectionMove = document.getElementById("collectionMove");
    let cancel_btn = document.getElementById("cancel");

    //点击搜索显示或关闭搜索框
    search_btn.addEventListener("click", function () {
        search_area.hidden = search_area.hidden ? false : true;
    })
    //点击开启编辑按钮
    for (let i = 0; i < delete_open.length; i++){
        delete_open[i].addEventListener("click",function () {
            edit.hidden = edit.hidden ? false : true;
        })
    }

    //移动文件夹
    move_btn.addEventListener("click",function (){
        collectionMove.hidden = collectionMove.hidden ? false : true;
    })
    //取消移动
    cancel_btn.addEventListener("click",function () {
        collectionMove.hidden = collectionMove.hidden ? false : true;
    })
</script>
</html>