<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>创作</title>
    <link rel="stylesheet" href="../static/css/maomao.css" th:href="@{/css/maomao.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no" />
</head>
<body class="flex flex1 column" style="background-color: #e8e8e8;margin: 0;font-size: 62.5%">
    <div class="flex m-backcolor" style="justify-content: space-between">
        <div class="flex m-mg8">
            <a th:href="@{/personal}" class="m-font-gray m-rem-ret m-underlineCancel">返回</a>
        </div>
        <div class="flex m-rem-ret" style="margin-top: 8px;margin-left: -36px">内容管理</div>
        <div class="flex"></div>
    </div>

    <div class="flex flex1 column m-backcolor">
        <div class="m-mg8 m-rem-ret">创作数据</div>
        <div class="flex flex1" style="justify-content: space-around">
            <div class="flex column m-mg8" style="text-align: center ;border-right: 1px solid #EBEBEB;padding-right: 40px">
                <div class="m-font-gray m-rem1" style="font-size: 12px">敬请期待</div>
                <div class="m-rem1">浏览量</div>
            </div>
            <div class="flex column m-mg8" style="text-align: center;border-right: 1px solid #EBEBEB;padding-right: 40px">
                <div class="m-font-gray m-rem1" style="font-size: 12px">请期待</div>
                <div class="m-rem1">赞同数</div>
            </div>
            <div class="flex column m-mg8" style="text-align: center">
                <div class="m-font-gray m-rem1" style="font-size: 12px">期待</div>
                <div class="m-rem1">收藏数</div>
            </div>
        </div>
    </div>
    <div class="flex flex1 column m-backcolor" style="margin-top: 6px">
        <div class="m-mg8 m-rem-ret">内容管理</div>
        <div class="flex flex1" style="justify-content: space-around">
            <div class="flex column m-mg8" style="text-align: center;border-right: 1px solid #EBEBEB;padding-right: 40px">
                <div class="m-rem1" th:text="${answerNum}" >10</div>
                <a th:href="@{/answer/manage}" class="m-underlineCancel m-black m-rem1">回答</a>
            </div>
            <div class="flex column m-mg8" style="text-align: center;border-right: 1px solid #EBEBEB;padding-right: 40px">
                <div class="m-rem1" th:text="${passageNum}" >10</div>
                <a th:href="@{/passage/manage}" class="m-underlineCancel m-black m-rem1" >文章</a>
            </div>
            <div class="flex column m-mg8" style="text-align: center">
                <div class="m-rem1" th:text="${talkNum}" >10</div>
                <a th:href="@{/talk/manage}" class="m-underlineCancel m-black m-rem1">说说</a>
            </div>
        </div>
    </div>
    <div class="flex flex1 column m-backcolor" style="margin-top: 6px">
        <div class="m-mg8 m-rem-ret">内容创作</div>
        <div class="flex flex1" style="justify-content: space-around">
            <div class="flex column m-mg8" style="text-align: center ;border-right: 1px solid #EBEBEB;padding-right: 30px">
                <div class="m-rem1" th:text="${raiseNum}" >10</div>
                <a th:href="@{/question/manage}" class="m-underlineCancel m-black m-rem1">去提问</a>
            </div>
            <div class="flex column m-mg8" style="text-align: center;border-right: 1px solid #EBEBEB;padding-right: 30px">
                <div class="m-rem1" th:text="${answerNum}" >10</div>
                <a th:href="@{/question/all}" class="m-underlineCancel m-black m-rem1">去回答</a>
            </div>
            <div class="flex column m-mg8" style="text-align: center;border-right: 1px solid #EBEBEB;padding-right: 30px">
                <div class="m-rem1" th:text="${passageNum}" >10</div>
                <a th:href="@{/passage/write}" class="m-underlineCancel m-black m-rem1">写文章</a>
            </div>
            <div class="flex column m-mg8" style="text-align: center">
                <div class="m-rem1" th:text="${talkNum}" >10</div>
                <a th:href="@{talk/write}" class="m-underlineCancel m-black m-rem1">写说说</a>
            </div>
        </div>
    </div>
</body>
</html>