<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>创作</title>
    <link rel="stylesheet" href="../static/css/maomao.css" th:href="@{/css/maomao.css}">
</head>
<body class="flex flex1 column" style="background-color: #e8e8e8;margin: 0">
    <div class="flex m-backcolor" style="justify-content: space-between">
        <div class="flex m-mg8">
            <a th:href="@{/personal}" class="m-font-gray m-underlineCancel">返回</a>
        </div>
        <div class="flex" style="margin-top: 8px;margin-left: -36px">内容管理</div>
        <div class="flex"></div>
    </div>

    <div class="flex flex1 column m-backcolor">
        <div class="m-mg8">创作数据</div>
        <div class="flex flex1" style="justify-content: space-around">
            <div class="flex column m-mg8" style="text-align: center ;border-right: 1px solid #EBEBEB;padding-right: 40px">
                <div class="m-font-gray" style="font-size: 12px">敬请期待</div>
                <div>浏览量</div>
            </div>
            <div class="flex column m-mg8" style="text-align: center;border-right: 1px solid #EBEBEB;padding-right: 40px">
                <div class="m-font-gray" style="font-size: 12px">请期待</div>
                <div>赞同数</div>
            </div>
            <div class="flex column m-mg8" style="text-align: center">
                <div class="m-font-gray" style="font-size: 12px">期待</div>
                <div>收藏数</div>
            </div>
        </div>
    </div>
    <div class="flex flex1 column m-backcolor" style="margin-top: 6px">
        <div class="m-mg8">内容管理</div>
        <div class="flex flex1" style="justify-content: space-around">
            <div class="flex column m-mg8" style="text-align: center;border-right: 1px solid #EBEBEB;padding-right: 40px">
                <div th:text="${answerNum}" >10</div>
                <a th:href="@{/answer/manage}" class="m-underlineCancel m-black">回答</a>
            </div>
            <div class="flex column m-mg8" style="text-align: center;border-right: 1px solid #EBEBEB;padding-right: 40px">
                <div th:text="${passageNum}" >10</div>
                <a th:href="@{/passage/manage}" class="m-underlineCancel m-black" >文章</a>
            </div>
            <div class="flex column m-mg8" style="text-align: center">
                <div th:text="${talkNum}" >10</div>
                <a th:href="@{/talk/manage}" class="m-underlineCancel m-black">说说</a>
            </div>
        </div>
    </div>
    <div class="flex flex1 column m-backcolor" style="margin-top: 6px">
        <div class="m-mg8">内容创作</div>
        <div class="flex flex1" style="justify-content: space-around">
            <div class="flex column m-mg8" style="text-align: center ;border-right: 1px solid #EBEBEB;padding-right: 30px">
                <div th:text="${raiseNum}" >10</div>
                <a th:href="@{/question/manage}" class="m-underlineCancel m-black">去提问</a>
            </div>
            <div class="flex column m-mg8" style="text-align: center;border-right: 1px solid #EBEBEB;padding-right: 30px">
                <div th:text="${answerNum}" >10</div>
                <a th:href="@{/question/all}" class="m-underlineCancel m-black">去回答</a>
            </div>
            <div class="flex column m-mg8" style="text-align: center;border-right: 1px solid #EBEBEB;padding-right: 30px">
                <div th:text="${passageNum}" >10</div>
                <a th:href="@{/passage/write}" class="m-underlineCancel m-black">写文章</a>
            </div>
            <div class="flex column m-mg8" style="text-align: center">
                <div th:text="${talkNum}" >10</div>
                <a th:href="@{talk/write}" class="m-underlineCancel m-black">写说说</a>
            </div>
        </div>
    </div>
</body>
</html>