<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>写回答</title>
    <link rel="stylesheet" href="../static/css/maomao.css" th:href="@{/css/maomao.css}">
    <link href="https://unpkg.com/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet">
    <!-- 引入 layui.css -->
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
    <style>
        #editor—wrapper {
            border: 1px solid #ccc;
            z-index: 100; /* 按需定义 */
        }
        #toolbar-container { border-bottom: 1px solid #ccc; }
        #editor-container { height: 500px; }
    </style>
</head>
<body class="flex flex1 column" style="background-color: #e8e8e8;margin: 0">
<div class="m-backcolor">
    <div class="flex m-mg8">
        <a class="m-font-gray m-underlineCancel" th:href="@{/creation}">返回</a>
        <div class="flex1" style="text-align: center;margin-right: 40px">回答</div>
    </div>
</div>
<form class="m-backcolor">
    <div class="m-mg8" style="margin-bottom: 12px">
        <h3 th:text="${question.getTitle()}">哈哈哈哈</h3>
        <div th:text="${question.getIntroduce()}" class="m-font-gray" style="font-size: 10px"> 回答简介</div>
    </div>
    <div class="flex m-mg8">
        <div style="margin-top: 20px;margin-right: 8px">封面(可选):</div>
        <input type="text" hidden="hidden" name="picture" id="picture">
        <img id="preview" src="" alt="" class="m-cover" style="display: none;margin-top: 5px">
        <i id="cover" class="layui-icon layui-icon-picture" style="font-size: 40px;margin-top: 10px"></i>
    </div>
    <div id="editor—wrapper">
        <div id="toolbar-container"><!-- 工具栏 --></div>
        <div id="editor-container"><!-- 编辑器 --></div>
    </div>
    <div class="m-mg8" style="text-align: right;margin-right: 8px">
        <button type="button" id="answer">提交</button>
    </div>
</form>

</body>
<script type="text/javascript" src="../static/js/jquery-2.0.3.js" th:src="@{/js/jquery-2.0.3.js}"></script>
<script src="https://unpkg.com/@wangeditor/editor@latest/dist/index.js"></script>
<!-- 引入 layui.js -->
<script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
<script>
    const { createEditor, createToolbar } = window.wangEditor

    const editorConfig = { MENU_CONF: {} ,
        placeholder: 'Type here...',
        onChange(editor) {
            const html = editor.getHtml()
            console.log('editor content', html)
            // 也可以同步到 <textarea>
        }}
    editorConfig.MENU_CONF['uploadImage'] = {
        async customUpload(file, insertFn) {
            let formData = new FormData();
            console.log(file)
            formData.append("file",file)
            console.log(formData.get("file"))
            $.ajax({
                url:"/upload",
                data: formData,
                type : 'POST',
                processData: false,
                contentType: false,
                dataType : 'json',
                success :function(res){
                    console.log(res)
                    insertFn(res.data)
                },
                error: function (err) {
                    console.log(err)
                }
            })
        }
    }

    const editor = createEditor({
        selector: '#editor-container',
        html: '<p><br></p>',
        config: editorConfig,
        mode: 'default', // or 'simple'
    })

    const toolbarConfig = {}

    const toolbar = createToolbar({
        editor,
        selector: '#toolbar-container',
        config: toolbarConfig,
        mode: 'simple', // or 'simple'
    })

    let answer_btn = document.getElementById("answer");
    answer_btn.addEventListener("click",function () {
        let answer = {"content" : editor.getHtml(), "questionId" : [[${question.getId()}]],"picture" : $("#picture").val()};
        $.ajax({
            url:"/answer/add",
            data: answer,
            type : 'POST',
            dataType : 'text',
            success :function(data){
                //发送成功返回到文章管理页面
                document.location.href = "/question/questionAnswer/" + data;
            }
        })
    })

    //图片上传
    layui.use('upload', function(){
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#cover,#preview' //绑定元素
            ,url: '/upload' //上传接口
            ,auto: true //选择文件后自动上传
            ,bindAction: '#save' //指向一个按钮触发上传
            ,size: 0
            ,choose: function(obj){
                //将每次选择的文件追加到文件队列
                var files = obj.pushFile();

                //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                obj.preview(function(index, file, result) {
                    console.log(index); //得到文件索引
                    console.log(file); //得到文件对象
                    console.log(result)
                    //上传图片预览
                    $("#preview")[0].src = result;
                    $("#preview")[0].style.display = '';
                    $("#cover").hide()
                })
            }
            ,done: function(res){
                //文件url
                console.log(res.data)
                $("#picture").val(res.data)
                //上传完毕回调
            }
            ,error: function(){
                //请求异常回调
            }
        });
    });
</script>
</html>