<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>写说说</title>
    <link rel="stylesheet" href="../static/css/maomao.css" th:href="@{/css/maomao.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no" />
</head>
<body class="flex flex1 column" style="background-color: #e8e8e8;margin: 0">
    <div class="m-backcolor">
        <div class="flex m-mg8">
            <a class="m-font-gray m-card-title m-underlineCancel" th:href="@{/creation}">返回</a>
            <div class="flex1 m-card-title" style="text-align: center;margin-right: 40px">写说说</div>
        </div>
    </div>
    <form th:action="@{/talk/add}" method="post" class="m-backcolor">
        <div style="text-align: center">
            <label for="content"></label>
            <textarea name="content" id="content" cols="30" rows="10" class="m-card-title" placeholder="开心说说，不开心说说" style="width: 90%"></textarea>
        </div>
        <div class="m-mg8" style="text-align: right;margin-right: 8px">
            <button type="submit" class="m-card-title">提交</button>
        </div>
    </form>
</body>
</html>