<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>找到我</title>
    <link rel="stylesheet" href="../static/css/maomao.css" th:href="@{/css/maomao.css}">
</head>
<body class="flex flex1 column" style="background-color: #e8e8e8;margin: 0">
    <div class="m-backcolor">
        <div class="flex m-mg8">
            <div class="m-font-gray">返回</div>
            <div class="flex1" style="text-align: center">关于我</div>
        </div>
    </div>
    <div class="flex flex1 column">
        <div class="m-backcolor">
            <div class="flex flex1 m-mg8">
                <div>微信: </div>
                <div>13168074611</div>
            </div>
        </div>
        <div class="m-backcolor" style="margin-top: 6px">
            <div class="flex flex1 m-mg8">
                <div>QQ: </div>
                <div>2081498716</div>
            </div>
        </div>
        <div class="m-backcolor" style="margin-top: 6px">
            <div class="flex flex1 m-mg8">
                <div>邮箱: </div>
                <div>2081498716@qq.com</div>
            </div>
        </div>
        <div class="m-backcolor" style="margin-top: 6px">
            <div class="flex flex1 m-mg8">
                <div>GitHub: </div>
                <div></div>
            </div>
        </div>
    </div>
</body>
</html>