<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>关注</title>
    <link rel="stylesheet" href="../static/css/maomao.css" th:href="@{/css/maomao.css}">
</head>
<body class="flex flex1 column" style="background-color: #e8e8e8;margin: 0">
    <div class="flex m-backcolor" style="justify-content: space-around;margin-top: 1px;height: 25px">
        <a id="answer_btn" th:href="@{/follow}" class="m-font-gray m-underlineCancel m-activeDown-while" style="font-size: 10px;margin-top: 4px">回答</a>
        <a id="passage_btn" th:href="@{/follow/passage}" class="m-font-gray m-underlineCancel" style="font-size: 10px;margin-top: 4px">文章</a>
        <a id="talk_btn" th:href="@{/follow/talk}" class="m-font-gray m-underlineCancel" style="font-size: 10px;margin-top: 4px">说说</a>
    </div>
    <div th:if="${#strings.isEmpty(session.get('user'))}">
        <div class="flex flex1" style="justify-content: center">
            <div>请先 </div>
            <a th:href="@{/login}" class="btn ">登录</a>
        </div>
    </div>
    <div th:if="${!#strings.isEmpty(session.get('user')) && #request.getRequestURL()=='http://localhost:8080/follow'}">
        <div class="flex flex1 column m-backcolor" style="margin-bottom: 10px" th:each="question : ${questions}">
            <div class="m-mg8 flex flex1">
                <img class="m-headPicture-circle" style="border-radius: 50%;width: 23px;height: 23px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/pdx.jpg" alt="">
                <div th:text="${question.getUser().getNickname()}" class="m-font-gray" style="font-size: 10px;margin-left: 5px;margin-top: 4px" >毛毛</div>
                <div th:text="${#dates.format(question.getCreateTime(),'yyyy-MM-dd')}" class="m-font-gray" style="font-size: 10px;margin-left: 5px;margin-top: 4px" >2022-08-09</div>
                <div class="m-font-gray" style="font-size: 10px;margin-left: 5px;margin-top: 4px" > · 发布了回答</div>
            </div>
            <div class="flex1">
                <div style="margin-left: 25px">
                    <div th:text="${question.getTitle()}" class="flex1 m-mg8" style="margin-top: 0">标题：毛毛为何这么厉害</div>
                    <div class="flex flex1" style="margin-left: 8px">
                        <div class="flex column" style="flex: 3">
                            <div th:text="${question.getAnswers().get(0).getContent().length() > 30 ? question.getAnswers().get(0).getContent().substring(0,30) : question.getAnswers().get(0).getContent()}" class="m-font-gray" style="font-size: 10px">内容我就是内容，我就是内容，内容就是我，冲冲冲，我就是内容</div>
                        </div>
                        <div style="flex: 1">
                            <img alt="" class="m-cardPicture" style="width: 60px;height: 40px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">
                        </div>
                    </div>
                    <div class="flex1 m-font-gray m-mgl8" style="font-size: 10px">100 赞同 100收藏</div>
                </div>

            </div>
        </div>
    </div>
    <div th:if="${!#strings.isEmpty(session.get('user')) && #request.getRequestURL()=='http://localhost:8080/follow/passage'}">
        <div class="flex flex1 column m-backcolor" style="margin-bottom: 10px" th:each="passage : ${passages}">
            <div class="m-mg8 flex flex1">
                <img class="m-headPicture-circle" style="border-radius: 50%;width: 23px;height: 23px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/pdx.jpg" alt="">
                <div th:text="${passage.getUser().getNickname()}" class="m-font-gray" style="font-size: 10px;margin-left: 5px;margin-top: 4px" >毛毛</div>
                <div th:text="${#dates.format(passage.getCreateTime(),'yyyy-MM-dd')}" class="m-font-gray" style="font-size: 10px;margin-left: 5px;margin-top: 4px" >2022-08-09</div>
                <div class="m-font-gray" style="font-size: 10px;margin-left: 5px;margin-top: 4px" > · 发布了回答</div>
            </div>
            <div class="flex1">
                <div style="margin-left: 25px">
                    <div th:text="${passage.getTitle()}" class="flex1 m-mg8" style="margin-top: 0">标题：毛毛为何这么厉害</div>
                    <div class="flex flex1" style="margin-left: 8px">
                        <div class="flex column" style="flex: 3">
                            <div th:text="${passage.getContent().length() > 30 ? passage.getContent().substring(0,30) : passage.getContent()}" class="m-font-gray" style="font-size: 10px">内容我就是内容，我就是内容，内容就是我，冲冲冲，我就是内容</div>
                        </div>
                        <div style="flex: 1">
                            <img alt="" style="width: 60px;height: 40px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">
                        </div>
                    </div>
                    <div class="flex1 m-font-gray m-mgl8" style="font-size: 10px">100 赞同 100收藏</div>
                </div>

            </div>
        </div>
    </div>
    <div th:if="${!#strings.isEmpty(session.get('user')) && #request.getRequestURL()=='http://localhost:8080/follow/talk'}">
        <div class="flex flex1" style="margin-top: 16px;border-bottom: 1px solid #EBEBEB" th:each="talk : ${talks}">
            <div>
                <img th:src="${talk.getUser().getPortrait()}" alt="" style="width: 30px;height: 30px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">
            </div>
            <div class="flex flex1 column" style="margin-left: 4px;margin-top: -2px">
                <div th:text="${talk.getUser().getNickname()}">毛毛</div>
                <div th:text="${talk.getContent()}" style="font-size: 14px">今天差不多就是写了两个页面，在写第一个页面的时候都已经感觉很想放弃了，但是还是坚持了下来，其实就是这样，在自我怀疑中前进，不断进步</div>
                <div th:text="${#dates.format(talk.getCreateTime(),'yyyy-MM-dd')}" class="m-font-gray" style="font-size: 10px;margin-top: 8px">2022-08-08</div>
            </div>
        </div>
    </div>

    <!--底部导航-->
    <div style="margin-top: 50px">
        <div style="position: fixed;bottom: 0;width: 100%">
            <div class="m-backcolor flex flex1" style="justify-content: space-evenly;align-items: center ;height: 50px">
                <a th:href="@{/}" class="m-underlineCancel">首页</a>
                <a th:href="@{/follow}" class="m-underlineCancel">关注</a>
                <a>我的</a>
            </div>
        </div>
    </div>
</body>
</html>