<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>关注</title>
    <link rel="stylesheet" href="../static/css/maomao.css" th:href="@{/css/maomao.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no" />
</head>
<body class="flex flex1 column" style="background-color: #e8e8e8;margin: 0">
    <div class="m-backcolor">
        <div class="flex m-mg8">
            <span class="m-font-gray m-rem-ret" id="return">返回</span>
            <div class="flex1 m-rem-ret" style="text-align: center;margin-left: -18px">关注</div>
        </div>
    </div>

    <!--别人主页，我的关注-->
    <div class="flex flex1 column" th:if="${!#strings.isEmpty(myFollows)}">
        <div th:each="follow : ${myFollows}" class="flex m-backcolor" style="margin-bottom: 1px">
            <img th:src="${follow.getPortrait()}" alt="" class="m-headPicture-circle m-mg8" style="width: 40px;height: 40px;margin-top: 8px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">
            <div class="flex column m-mg8">
                <div th:text="${follow.getNickname()}" class="m-rem1" >毛毛</div>
                <div th:text="${follow.getIntroduce().length() > 11 ? follow.getIntroduce().substring(0,11) : follow.getIntroduce()}" class="m-font-gray m-rem1">这是关注列表</div>
            </div>
            <div class="flex1" style="text-align: right">
                <input th:value="${follow.getId()}" hidden="true" name="followId"/>
                <button name="follow-btn" value="1" class="m-cancelFollow m-rem1" style="margin-right: 8px;margin-top: 14px">取关</button>
            </div>
        </div>
    </div>

    <!--判断别人主页还是自己主页-->
    <div class="flex flex1 column" th:if="${!#strings.isEmpty(follows)}">
        <div th:each="follow : ${follows}" class="flex m-backcolor" style="margin-bottom: 1px">
            <img th:src="${follow.getPortrait()}" alt="" class="m-headPicture-circle m-mg8" style="width: 40px;height: 40px;margin-top: 8px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">
            <div class="flex column m-mg8">
                <div th:text="${follow.getNickname()}" class="m-rem1" >毛毛</div>
                <div th:text="${follow.getIntroduce()}" class="m-font-gray m-rem1">这是关注列表</div>
            </div>
            <div th:if="${session.get('user').getId() == userId}" class="flex1" style="text-align: right">
                <input th:value="${follow.getId()}" hidden="true" name="followId"/>
                <button name="follow-btn" value="1" class="m-cancelFollow m-rem1" style="margin-right: 8px;margin-top: 14px">取关</button>
            </div>
            <div th:if="${session.get('user').getId() != userId}" class="flex1" style="text-align: right">
                <input th:value="${follow.getId()}" hidden="true" name="followId"/>
                <button name="follow-btn" value="0" class="m-rem1" style="margin-right: 8px;margin-top: 14px">关注</button>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../static/js/jquery-2.0.3.js" th:src="@{/js/jquery-2.0.3.js}"></script>
<script>
    //点击返回，去到上一个页面
    $("#return").click(function () {
        window.history.back()
    })

    $("[name= 'follow-btn']").click(function (e) {
        this.value === "0" ? addFollow(e) : removeFollow(e);
    })
    addFollow = function(e) {
        let followId = e.target.previousElementSibling.value;
        $.ajax({
            url:"/addFollow/" + followId,
            type : 'GET',
            dataType : 'text',
            success :function(data){
                //发送成功改变按钮
                e.target.className = "m-cancelFollow";
                e.target.value = 1;
                e.target.innerText = "取关";
            }
        })
    }

    removeFollow = function (e) {
        let followId = e.target.previousElementSibling.value;
        $.ajax({
            url:"/removeFollow/" + followId,
            type : 'GET',
            dataType : 'text',
            success :function(data){
                //发送成功改变按钮
                e.target.removeAttribute("class","m-cancelFollow");
                e.target.value = 0;
                e.target.innerText = "关注";
            }
        })
    }
</script>

</html>