<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>问题建议</title>
    <link rel="stylesheet" href="../static/css/maomao.css" th:href="@{/css/maomao.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no" />
</head>
<body class="flex flex1 column" style="background-color: #e8e8e8;margin: 0">
<div class="m-backcolor">
    <div class="flex m-mg8">
        <div class="m-font-gray m-rem-ret" id="return">返回</div>
        <div class="flex1 m-rem-ret" style="text-align: center;margin-right: 40px">问题建议</div>
    </div>
</div>
<form action="" class="m-backcolor">
    <div style="text-align: center">
        <label for="help"></label>
        <textarea required name="help" id="help" cols="30" rows="10" class="m-rem1" style="width: 90%" placeholder="对于本项目有任何问题建议，或者有任何话想对我说，都可以在此发送（不为其他人所见）"></textarea>
    </div>
    <div class="m-mg8" style="text-align: right;margin-right: 8px">
        <button id="help-btn" class="m-rem-ret">提交</button>
    </div>
</form>

</body>
<script>
    //点击返回，去到上一个页面
    let re = document.getElementById("return");
    re.addEventListener("click",function () {
        window.history.back()
    })

    let help_btn = document.getElementById("help-btn")
    let help = document.getElementById("help");
    help_btn.addEventListener("click",function () {
        let content = "content=" + help.value
        ajax("/help", content ,function (res) {
            if(res === "success"){
                help.value = ''
                alert("感谢您的反馈，感谢！")
            }else{
                alert("出错了，请稍后再试！")
            }
        })
    })

    let ajax = function (url , data , callback) {
        let xhr = new XMLHttpRequest();
        xhr.open("post",url,false);
        xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
        xhr.onreadystatechange = function () {
            if(xhr.readyState === 4){
                if(xhr.status === 200 || xhr.status === 304){
                    callback(xhr.responseText);
                }
            }
        }
        xhr.send(data);
    }
</script>
</html>