<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <link rel="stylesheet" href="../static/css/maomao.css" th:href="@{/css/maomao.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no" />
    <style>
        p{
            margin: 0;
        }
    </style>
</head>
<body class="flex flex1 column" style="margin: 0">
    <div class="m-backcolor">
        <div class="flex m-mg8">
            <div class="m-font-gray m-card-title" id="return">返回</div>
        </div>
    </div>
    <div class="flex flex1 column">
        <div class="m-backcolor">
            <div class="flex m-mg8">
                <img style="border-radius: 50%;width: 60px;height: 60px" th:src="${user.getPortrait()}" alt="">
                <div class="flex flex1 m-backcolor" style="justify-content: space-around">
                    <div class="flex column m-mg8" style="text-align: center;border-right: 1px solid #EBEBEB;padding-right: 40px">
                        <div class="m-font-gray" style="font-size: 15px">暂无</div>
                        <div class="m-card-title">获赞</div>
                    </div>
                    <div class="flex column m-mg8" style="text-align: center;border-right: 1px solid #EBEBEB;padding-right: 40px">
                        <div th:text="${beFollowedSize}" >10</div>
                        <a th:href="@{'/beFollowedList/' + ${user.getId()}}"  class="m-underlineCancel m-card-title m-black">粉丝</a>
                    </div>
                    <div class="flex column m-mg8" style="text-align: center">
                        <div th:text="${followSize}" >10</div>
                        <a th:href="@{'/followList/' + ${user.getId()}}" class="m-underlineCancel m-card-title m-black">关注</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex m-backcolor" style="justify-content: space-between">
            <div th:text="${user.getNickname()}" class="m-card-title" style="margin-left: 8px">毛毛</div>
            <div th:fragment="followBtn" id="followBtn" style="margin-right: -130px">
                <button type="button" th:hidden="${isFollow}" value="0" class="m-edit m-card-title" id="follow">关注</button>
                <button type="button" th:hidden="${!isFollow}" value="1" class="m-cancelFollow m-card-title m-edit" id="cancelFollow" >取关</button>
            </div>
            <a th:if="${myHome == true}" th:href="@{/editData}" class="m-underlineCancel m-black m-card-title" style="margin-right: 8px;margin-bottom: 8px">编辑资料</a>
            <a th:if="${myHome == false}" th:href="@{/lookUserInfo/{userId}(userId = ${user.getId()})}" class="m-underlineCancel m-card-title m-black" style="margin-right: 8px;margin-bottom: 8px">查看资料</a>
        </div>

        <div class="flex m-backcolor" style="justify-content: space-around;margin-top: 8px;height: 30px">
            <div class="m-activeDown m-card-title">创作</div>
            <div class="m-card-title">赞同</div>
        </div>
        <!--创作-->
            <!--回答、文章、说说-->
            <div class="flex flex1 column">
            <div class="flex m-backcolor" style="justify-content: space-around;margin-top: 1px;height: 25px">
                <a class="m-font-gray m-underlineCancel" id="answer" style="margin-top: 4px">回答</a>
                <a class="m-font-gray m-underlineCancel" id="passage" style="margin-top: 4px">文章</a>
                <a class="m-font-gray m-underlineCancel" id="talk" style="margin-top: 4px">说说</a>
            </div>

            <div id="creation">
                <!--回答-->
                <div th:fragment="answerCart" id="answerCart">
                    <div class="flex flex1 column m-backcolor" th:if="${!#strings.isEmpty(questions)}" style="margin-bottom: 6px" th:each="question : ${questions}">
                        <div class="m-mg8 flex flex1">
                            <img class="m-headPicture-circle" th:src="${question.getAnswers().get(0).getUser().getPortrait()}" alt="">
                            <div th:text="${question.getAnswers().get(0).getUser().getNickname()}" class="m-font-gray m-card-introduce" style="margin-left: 5px;margin-top: 2px" >毛毛</div>
                            <div th:text="${#dates.format(question.getAnswers().get(0).getCreateTime(),'yyyy-MM-dd')}" class="m-font-gray m-card-introduce" style="margin-left: 5px;margin-top: 2px" >2022-08-09</div>
                            <div class="m-font-gray m-card-introduce" style="margin-left: 5px;margin-top: 2px" > · 发布了回答</div>
                        </div>
                        <input type="text" hidden="hidden" th:value="${question.getAnswers().get(0).getId()}">
                        <div class="flex1" name="eachAnswer">
                            <div style="margin-left: 25px">
                                <div th:text="${question.getTitle()}" class="flex1 m-mg8 m-card-title" style="margin-top: 0">标题：毛毛为何这么厉害</div>
                                <div class="flex flex1" style="margin-left: 8px">
                                    <div class="flex column" style="flex: 3">
                                        <div th:text="${question.getAnswers().get(0).getContent().length() > 60 ? question.getAnswers().get(0).getContent().substring(0,60) : question.getAnswers().get(0).getContent()}" class="m-font-gray m-card-introduce">内容我就是内容，我就是内容，内容就是我，冲冲冲，我就是内容</div>
                                    </div>
                                    <div class="flex1" th:if="${!#strings.isEmpty(question.getAnswers().get(0).getPicture())}">
                                        <img alt="" class="m-cardPicture" th:src="${question.getAnswers().get(0).getPicture()}">
                                    </div>
                                </div>
                                <div class="flex1 m-font-gray m-mgl8" style="font-size: 10px;height: 6px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--文章-->
                <div th:fragment="passageCart" id="passageCart">
                    <div class="flex flex1 column m-backcolor" style="margin-bottom: 6px" th:each="passage : ${passages}">
                        <div class="m-mg8 flex flex1">
                            <img class="m-headPicture-circle" th:src="${passage.getUser().getPortrait()}" alt="">
                            <div th:text="${passage.getUser().getNickname()}" class="m-font-gray m-card-introduce" style="margin-left: 5px;margin-top: 4px" >毛毛</div>
                            <div th:text="${#dates.format(passage.getCreateTime(),'yyyy-MM-dd')}" class="m-font-gray m-card-introduce" style="margin-left: 5px;margin-top: 4px" >2022-08-09</div>
                            <div class="m-font-gray m-card-introduce" style="margin-left: 5px;margin-top: 4px" > · 发布了文章</div>
                        </div>
                        <input type="text" hidden="hidden" th:value="${passage.getId()}">
                        <div class="flex1" name="eachPassage">
                            <div style="margin-left: 25px">
                                <div th:text="${passage.getTitle()}" class="flex1 m-mg8 m-card-title" style="margin-top: 0">标题：毛毛为何这么厉害</div>
                                <div class="flex flex1" style="margin-left: 8px">
                                    <div class="flex column" style="flex: 3">
                                        <div th:text="${passage.getContent().length() > 60 ? passage.getContent().substring(0,60) : passage.getContent()}" class="m-font-gray m-card-introduce">内容我就是内容，我就是内容，内容就是我，冲冲冲，我就是内容</div>
                                    </div>
                                    <div class="flex1" th:if="${!#strings.isEmpty(passage.getPicture())}">
                                        <img alt="" class="m-cardPicture" th:src="${passage.getPicture()}">
                                    </div>
                                </div>
                                <div class="flex1 m-font-gray m-mgl8" style="font-size: 10px;height: 6px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--说说-->
                <div th:fragment="talkCart" id="talkCart" style="margin-left: 4px">
                    <div class="flex flex1" style="margin-top: 16px;border-bottom: 1px solid #EBEBEB" th:each="talk : ${talks}">
                        <div>
                            <img th:src="${talk.getUser().getPortrait()}" alt="" class="m-talk-picture">
                        </div>
                        <div class="flex flex1 column" style="margin-left: 4px;margin-top: -2px">
                            <div th:text="${talk.getUser().getNickname()}" class="m-talk-username">毛毛</div>
                            <input type="text" hidden="hidden" th:value="${talk.getId()}">
                            <input hidden="hidden" value="-1">
                            <input hidden="hidden" th:value="${talk.getUser().getNickname()}">
                            <div th:text="${talk.getContent()}" class="m-talk-content" name="talk">今天差不多就是写了两个页面，在写第一个页面的时候都已经感觉很想放弃了，但是还是坚持了下来，其实就是这样，在自我怀疑中前进，不断进步</div>
                            <div th:text="${#dates.format(talk.getCreateTime(),'yyyy-MM-dd')}" class="m-font-gray" style="font-size: 14px;margin-top: 8px">2022-08-08</div>
                            <div th:if="${talk.getComments().size() > 0}" style=";background-color: #eeeeee;border-radius: 3px;margin-top: 6px;margin-right: 6px">
                                <div style="margin-bottom: 6px">
                                    <div th:fragment="comment-container" th:id="${'comment-container' + talk.getId()}">
                                        <div th:fragment="commentList">
                                            <!--左边头像，右边评论内容-->
                                            <div class="flex flex1" style="margin-top: 6px" th:each="comment : ${talk.getComments()}">
                                                <!--评论内容(分为上下两部分,评论人信息、评论内容)-->
                                                <div  style="flex: 9;margin-left: 6px">
                                                    <div style="font-size: 0">
                                                        <!--评论人信息-->
                                                        <span th:text="${comment.getUser().getNickname()} + '：'" class="m-talk-content" style="color: #389393">毛毛：</span>
                                                        <!--评论内容-->
                                                        <input type="text" hidden="hidden" th:value="${talk.getId()}">
                                                        <input hidden="hidden" th:value="${comment.getId()}">
                                                        <input hidden="hidden" th:value="${comment.getUser().getNickname()}">
                                                        <span name="commentContent">
                                                            <span th:text="${comment.getContent()}" class="m-talk-content">
                                                                我来组成内容,感觉应该还可以吧，应该还行吧,嘿嘿
                                                            </span>
                                                        </span >
                                                    </div>
                                                    <!--二级评论-->
                                                    <div th:if="${#arrays.length(comment.getReplyComments())>0}">
                                                        <div class="flex flex1" th:each="reply : ${comment.getReplyComments()}">
                                                            <div class="flex" style="margin-top: 8px">
                                                                <!--评论内容(分为上下两部分,评论人信息、评论内容)-->
                                                                <div style="font-size: 0">
                                                                    <!--评论人信息-->
                                                                    <span>
                                                                        <span th:text="${reply.getUser().getNickname()}" class="m-talk-content" style="color: #389393">毛毛</span>
                                                                        <span class="m-talk-content">回复</span>
                                                                        <span th:text="${reply.getParentComment().getUser().getNickname()} + '：'" class="m-talk-content" style="color: #389393">毛毛：</span>
                                                                    </span>
                                                                    <!--评论内容-->
                                                                    <input type="text" hidden="hidden" th:value="${talk.getId()}">
                                                                    <input hidden="hidden" th:value="${reply.getId()}">
                                                                    <input hidden="hidden" th:value="${reply.getUser().getNickname()}">
                                                                    <span name="commentContent">
                                                                        <span th:text="${reply.getContent()}" class="m-talk-content">
                                                                            我来组成内容,感觉应该还可以吧，应该还行吧,嘿嘿
                                                                        </span>
                                                                    </span >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${talk.getComments().size() == 0}" style="background-color: #eeeeee;border-radius: 3px;margin-top: 6px">
                                <div>
                                    <div th:fragment="comment-container" th:id="${'comment-container' + talk.getId()}"></div>
                                </div>
                            </div>
                            <div style="height: 6px"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--赞同-->
<!--        <div class="flex flex1 column m-backcolor" style="margin-bottom: 6px">-->
<!--            <div class="m-mg8 flex flex1">-->
<!--                <img class="m-headPicture-circle" style="border-radius: 50%;width: 23px;height: 23px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/pdx.jpg" alt="">-->
<!--                <div class="flex flex1 column">-->
<!--                    <div class="m-font-gray" style="font-size: 10px;margin-left: 5px" >毛毛</div>-->
<!--                    <div class="m-font-gray" style="font-size: 10px;margin-left: 5px" >2022-08-09 · 赞同了回答</div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="flex1">-->
<!--                <div class="flex1" style="margin-left: 8px;margin-bottom: 4px">标题：毛毛为何这么厉害</div>-->
<!--                <div class="flex flex1" style="margin-left: 8px">-->
<!--                    <div class="flex column" style="flex: 4">-->
<!--                        <div class="m-font-gray" style="font-size: 10px">内容我就是内容，我就是内容，内容就是我，冲冲冲，我就是内容</div>-->
<!--                    </div>-->
<!--                    <div style="flex: 1">-->
<!--                        <img alt="" style="width: 55px;height: 40px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="flex1 m-font-gray m-mgl8" style="font-size: 10px">100 赞同 100收藏 1000阅读</div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <!--点击回复跳出输入框-->
    <div id="replyBox" style="position: absolute">
        <div class="flex">
            <input hidden="hidden" id="talkId">
            <input type="text" hidden="hidden" id="replyCommentId">
            <label for="reply"></label>
            <input type="text" name="content" id="reply" class="m-talk-input" style="width: 200px;padding: 4px" hidden="hidden">
            <button style="margin-left: 6px" id="replySend" hidden="hidden">发送</button>
        </div>
    </div>
</body>
<script type="text/javascript" src="../static/js/jquery-2.0.3.js" th:src="@{/js/jquery-2.0.3.js}"></script>
<script>
    //点击返回，去到上一个页面
    $("#return").click(function () {
        window.history.back()
    })
    const userId = [[${user.getId()}]]

    if([[${isFollow}]]){
        $("#followBtn").on("click", ".m-edit" ,function (e) {
            this.value === "0" ? addFollow(e) : removeFollow(e);
        })
    }else{
        $("#followBtn").on("click", ".m-edit" ,function (e) {
            this.value === "0" ? addFollow(e) : removeFollow(e);
        })
    }


    addFollow = function(e) {
        $("#follow").load("/addFollow",{
            "followId" : [[${user.getId()}]]
        },function (responseTxt, statusTxt, xhr) {
            console.log($("#followBtn").html(responseTxt))
        });
    }

    removeFollow = function (e) {
        $("#cancelFollow").load("/cancelFollow",{
            "followId" : [[${user.getId()}]]
        },function (responseTxt, statusTxt, xhr) {
            console.log($("#followBtn").html(responseTxt))
        });
    }

    //点击卡片中间区域跳转到详细内容
    $("[name='eachAnswer']").click(function () {
        document.location.href = "/answer/info/" + this.previousElementSibling.value
    })

    $(function () {
        $("#answer").click(function () {
            $("#creation").load("/home/" + userId + "/answer",function (responseTxt, statusTxt, xhr) {
                console.log($("#answerCart").html(responseTxt))
                //点击卡片中间区域跳转到详细内容
                $("[name='eachAnswer']").click(function () {
                    document.location.href = "/answer/info/" + this.previousElementSibling.value
                })
            });
        })
        $("#passage").click(function () {
            $("#creation").load("/home/" + userId + "/passage",function (responseTxt, statusTxt, xhr) {
                console.log($("#passageCart").html(responseTxt))
                //点击跳转到文章详情
                $("[name='eachPassage']").click(function () {
                    document.location.href = "/passage/info/" + this.previousElementSibling.value
                })
            });
        })
        $("#talk").click(function () {
            $("#creation").load("/home/" + userId + "/talk",function (responseTxt, statusTxt, xhr) {
                console.log($("#talkCart").html(responseTxt))
            });
        })
    })

    $("#replySend").click(function () {
        //判断内容不可为空
        if($("#reply").val() === ''){
            return alert("评论不可为空")
        }
        //设置按钮不可点击
        $(this).prop("disabled", "true");
        $("#comment-container" + $("#talkId").val()).load("/talk/" + $("#talkId").val() + "/comment",{
            "content" : $("#reply").val(),
            "parentCommentId" : $("#replyCommentId").val()
        },function (responseTxt, statusTxt, xhr) {
            cleanContent()
            //设置按钮可以点击
            $("#replySend").removeAttr("disabled");
            $("#reply").hide();
            $("#replySend").hide()
        })
    })


    $("body").click(function (e) {
        if ($(e.target).closest("#replyBox").length === 0) {
            $("#reply").hide();
            $("#replySend").hide()
        }
    });

    $(document).on("click", "[name='commentContent'],[name='talk']",function (e){
        e.stopPropagation()
        $("#reply").toggle()
        $("#replySend").toggle()
        $("#replyBox").css({left:'55px',top:(e.target.offsetHeight + e.target.offsetTop) + 'px'})
        let replyUser = this.previousElementSibling.value
        let replyCommentId = this.previousElementSibling.previousElementSibling.value
        let talkId = this.previousElementSibling.previousElementSibling.previousElementSibling.value
        $("#replyCommentId").val(replyCommentId)
        $("#talkId").val(talkId)
        $("#reply").attr("placeholder", "回复" + replyUser + "：")
        $("#reply").focus()
    })

    cleanContent = function (){
        $("#content").val('')
        $("#reply").val('')
    }

</script>
</html>