<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/maomao.css" th:href="@{/css/maomao.css}">
    <style>
        p{
            margin: 0;
        }
    </style>
</head>
<body class="flex column" style="background-color: #e8e8e8;margin: 0">
    <!--顶层-->
    <div class="flex flex1 m-backcolor" style="justify-content: space-evenly">
        <a th:href="@{/talk}" class="m-font-gray m-mg8 m-underlineCancel">说说</a>
        <a th:href="@{/}" class="m-font-gray m-mg8 m-underlineCancel m-headActive">推荐</a>
        <a th:href="@{/rank}" class="m-font-gray m-mg8 m-underlineCancel">热榜</a>
    </div>
    <!--中间内容-->
    <div class="flex column">
        <!--标签（暂时不会做）-->
        <!--搜索框-->
        <div style="text-align: center;margin-top: 8px;margin-bottom: 8px;">
            <form action="">
                <input type="text">
                <button>搜索</button>
            </form>
        </div>
        <div class="flex m-backcolor" style="justify-content: space-around;margin-top: 1px;height: 25px">
            <a th:href="@{/}" class="m-font-gray m-underlineCancel m-activeDown-while" style="font-size: 10px;margin-top: 4px">回答</a>
            <a th:href="@{/passage}" class="m-font-gray m-underlineCancel" style="font-size: 10px;margin-top: 4px">文章</a>
        </div>
        <!--回答卡片-->
        <div>
            <div class="flex flex1 column">
                <div class="flex flex1 column m-backcolor" style="margin-bottom: 8px;" th:each="question : ${questions}">
                    <input type="text" hidden="true" name="answerId" th:if="${question.getAnswers().size() > 0}" th:value="${question.getAnswers().get(0).getId()}">
                    <div class="flex1 m-mg8" th:text="${question.getTitle()}">毛毛为何这么厉害</div>
                    <div th:if="${question.getAnswers().size() > 0}" class="m-answerInfo">
                        <div th:if="${question.getAnswers().size() > 0}" class="flex flex1" style="margin-left: 8px">
                            <div class="flex column" style="flex: 3">
                                <div>
                                    <img th:src="${question.getAnswers().get(0).getUser().getPortrait()}" alt="" style="border-radius: 50%;width: 20px;height: 20px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">
                                    <span th:text="${question.getAnswers().get(0).getUser().getNickname()}"  style="font-size: 10px;position: absolute;margin-top: 3px;margin-left: 2px">毛毛</span>
                                </div>
                                <div th:utext="${question.getAnswers().get(0).getContent()}" class="m-font-gray" style="font-size: 10px">内容我就是内容，我就是内容，内容就是我，冲冲冲，我就是内容</div>
                            </div>
                            <div>
                                <img alt="" class="m-cardPicture" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">
                            </div>
                        </div>
                        <div class="flex" style="justify-content: space-between">
                            <div class="flex1 m-mg8 m-font-gray" style="font-size: 10px">100 赞同 100收藏</div>
                            <div th:text="${#dates.format(question.getAnswers().get(0).getCreateTime(),'yyyy-MM-dd')}" class="m-font-gray" style="font-size: 10px;margin-top: 8px;margin-right: 5px" >2022-08-11</div>
                        </div>
                    </div>
                    <div th:if="${question.getAnswers().size() == 0}" class="flex flex1" style="margin-left: 8px">
                        <input type="text" hidden="true" th:value="${question.getId()}">
                        <div class="flex column" style="flex: 3" name="noAnswerQuestion">
                            <div>
                                <img th:src="${question.getUser().getPortrait()}" alt="" style="border-radius: 50%;width: 20px;height: 20px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">
                                <span th:text="${question.getUser().getNickname()}"  style="font-size: 10px;position: absolute;margin-top: 3px;margin-left: 2px">毛毛</span>
                            </div>
                            <div class="m-font-gray" style="font-size: 10px">还没有回答！！</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部导航-->
    <div style="margin-top: 50px">
        <div style="position: fixed;bottom: 0;width: 100%">
            <div class="m-backcolor flex flex1" style="justify-content: space-evenly;align-items: center ;height: 50px">
                <a th:href="@{/}" class="m-underlineCancel">首页</a>
                <a th:href="@{/follow}" class="m-underlineCancel">关注</a>
                <a th:href="@{/personal}" class="m-underlineCancel">我的</a>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../static/js/jquery-2.0.3.js" th:src="@{/js/jquery-2.0.3.js}"></script>
<script>
    let answer_btn = document.querySelectorAll(".m-answerInfo");
    for(let i = 0; i < answer_btn.length ; i++ ){
        answer_btn[i].addEventListener("click",function () {
            let answerId = answer_btn[i].previousElementSibling.previousElementSibling.value;
            document.location.href = "/answer/info/" + answerId;
        })
    }

    $("[name='noAnswerQuestion']").click(function () {
        document.location.href = "/question/questionAnswer/" + this.previousElementSibling.value
    })

</script>
</html>