<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/maomao.css" th:href="@{/css/maomao.css}">
    <style>
        p{
            margin: 0;
        }
    </style>
</head>
<body class="flex column" style="background-color: #e8e8e8;margin: 0">
<!--顶层-->
<div class="flex flex1 m-backcolor" style="justify-content: space-evenly">
    <a th:href="@{/talk}" class="m-font-gray m-mg8 m-underlineCancel">说说</a>
    <a th:href="@{/}" class="m-font-gray m-mg8 m-underlineCancel m-headActive">推荐</a>
    <a th:href="@{/rank}" class="m-font-gray m-mg8 m-underlineCancel">热榜</a>
</div>
<!--中间内容-->
<div class="flex column">
    <!--标签（暂时不会做）-->
    <!--搜索框-->
    <div style="text-align: center;margin-top: 8px;margin-bottom: 8px;">
        <form action="">
            <input type="text">
            <button>搜索</button>
        </form>
    </div>
    <div class="flex m-backcolor" style="justify-content: space-around;margin-top: 1px;height: 25px">
        <a th:href="@{/}" class="m-font-gray m-underlineCancel" style="font-size: 10px;margin-top: 4px">回答</a>
        <a th:href="@{/passage}" class="m-font-gray m-underlineCancel m-activeDown-while" style="font-size: 10px;margin-top: 4px">文章</a>
    </div>
    <!--回答卡片-->
    <div>
        <div class="flex flex1 column">
            <div class="flex flex1 column m-backcolor" style="margin-bottom: 8px" th:each="passage : ${passageList}">
                <div class="flex1 m-mg8" th:text="${passage.getTitle()}" >标题：毛毛为何这么厉害</div>
                <input hidden="true" th:value="${passage.getId()}">
                <div class="flex flex1" style="margin-left: 8px" name="passageCart">
                    <div class="flex column" style="flex: 3">
                        <div>
                            <img th:src="${passage.getUser().getPortrait()}" alt="" style="border-radius: 50%;width: 20px;height: 20px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">
                            <span th:text="${passage.getUser().getNickname()}"  style="font-size: 10px;position: absolute;margin-top: 3px;margin-left: 2px">毛毛</span>
                        </div>
                        <div th:utext="${passage.getContent()}" class="m-font-gray" style="font-size: 10px">内容我就是内容，我就是内容，内容就是我，冲冲冲，我就是内容</div>
                    </div>
                    <div>
                        <img alt="" style="width: 80px;height: 60px;margin-right: 5px;border-radius: 5px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">
                    </div>
                </div>
                <div class="flex" style="justify-content: space-between">
                    <div class="flex1 m-mg8 m-font-gray" style="font-size: 10px">100 赞同 100收藏</div>
                    <div th:text="${#dates.format(passage.getCreateTime(),'yyyy-MM-dd')}" class="m-font-gray" style="font-size: 10px;margin-top: 8px;margin-right: 5px" >2022-08-11</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部导航-->
<div style="margin-top: 50px">
    <div style="position: fixed;bottom: 0;width: 100%">
        <div class="m-backcolor flex flex1" style="justify-content: space-evenly;align-items: center ;height: 50px">
            <a th:href="@{/}" class="m-underlineCancel">首页</a>
            <a th:href="@{/follow}" class="m-underlineCancel">关注</a>
            <a th:href="@{/personal}" class="m-underlineCancel">我的</a>
        </div>
    </div>
</div>
</body>
<script>
    let passage_btn = document.getElementsByName('passageCart');
    for(let i = 0; i < passage_btn.length; i++){
        passage_btn[i].addEventListener("click", function () {
            let passageId = passage_btn[i].previousElementSibling.value
            document.location.href = "/passage/info/" + passageId
        })
    }
</script>

</html>