<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文章</title>
    <link rel="stylesheet" href="../static/css/maomao.css" th:href="@{/css/maomao.css}">
    <style>
        p{
            margin: 0;
        }
    </style>
</head>
<body class="flex flex1 column">
    <div style="margin: -8px">
        <div class="flex m-mg8">
            <div class="m-font-gray">返回</div>
        </div>
    </div>
    <div>
        <h4 th:text="${passage.getTitle()}">学习，永无止尽</h4>
    </div>
    <div class="flex flex1" style="margin-top: 16px">
        <div>
            <img class="m-headPicture-circle" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/pdx.jpg" alt="">
        </div>
        <div class="flex1" style="margin-left: 8px">
            <div th:text="${passage.getUser().getNickname()}" style="font-size: 12px">毛毛</div>
            <div th:text="${passage.getUser().getIntroduce()}" class="m-font-gray" style="font-size: 10px">你要去兜风吗</div>
        </div>
        <div th:fragment="followBtn" id="followBtn">
            <button type="button" th:hidden="${isFollow}" value="0" class="m-edit" id="follow">关注</button>
            <button type="button" th:hidden="${!isFollow}" value="1" class="m-cancelFollow m-edit" id="cancelFollow" >取关</button>
        </div>
    </div>
    <!--内容-->
    <div th:utext="${passage.getContent()}" style="font-size: 15px;margin-top: 10px">我是内容我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br></div>
    <div class="flex flex1">
        <div class="m-font-gray" style="font-size: 10px">编辑于&nbsp</div>
        <div th:text="${#dates.format(passage.getCreateTime(), 'yyyy-MM-dd')}" class="m-font-gray" style="font-size: 10px"> 2022-08-09</div>
        <div class="m-font-gray" style="font-size: 10px">&nbsp · &nbsp著作权归作者所有</div>
    </div>
    <!--评论-->
    <div id="comment-form" class="flex flex1">
        <div class="flex flex1 column" style="margin-bottom: 50px">
            <div class="flex" style="justify-content: space-between;margin-top: 8px;margin-bottom: 8px">
                <div>留言</div>
                <div>写留言</div>
            </div>
            <!--评论区-->
            <div id="comment-container">
                <div th:fragment="commentList">
                    <!--左边头像，右边评论内容-->
                    <div class="flex flex1" style="margin-top: 12px" th:each="comment : ${comments}">
                        <!--头像-->
                        <div style="flex: 1">
                            <img style="width: 22px;height: 22px;" th:src="${comment.getPicture()}" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">
                        </div>
                        <!--评论内容(分为上下两部分,评论人信息、评论内容)-->
                        <div class="flex flex1 column" style="flex: 9">
                            <!--评论人信息-->
                            <div style="min-height: 10px;margin-top: -4px">
                                <span th:text="${comment.getNickname()}" style="font-size: 10px;color: #999999;margin-left: -5px">毛毛</span>
                                <span th:text="${#dates.format(comment.getCommentTime(),'yyyy-MM-dd')}" style="font-size: 10px;color: #999999">2022-08-02</span>
                                <span class="pull-right">99</span>
                                <span class="glyphicon glyphicon-thumbs-up pull-right" style="margin-right: 4px;margin-top: 2px" ></span>
                            </div>
                            <!--评论内容-->
                            <div class="flex flex1 column">
                                <a type="button" data-toggle="modal" data-target="#comment-reply" data-commentId="1" data-commentNickname="毛毛" th:attr="data-commentId=${comment.getId()},data-commentNickname=${comment.getNickname()}" onclick="reply(this)" style="color: #222222" class="teamSelect">
                                    <p th:text="${comment.getContent()}" style="margin-left: -5px;letter-spacing: 1px;margin-top: 0">
                                        我来组成内容,感觉应该还可以吧，应该还行吧,嘿嘿
                                        我来组成内容,感觉应该还可以吧，应该还行吧
                                    </p>
                                </a>
                            </div>
                            <!--二级评论-->
                            <div th:if="${#arrays.length(comment.getReplyComments())>0}">
                                <div class="flex flex1" th:each="reply : ${comment.getReplyComments()}">
                                    <!--头像-->
                                    <div style="flex: 1;margin-top: -4px">
                                        <img th:src="${reply.getPicture()}" style="border-radius: 50%;width: 22px;height: 22px;margin-left: -5px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">
                                    </div>
                                    <!--评论内容(分为上下两部分,评论人信息、评论内容)-->
                                    <div class="flex flex1 column" style="flex: 9">
                                        <!--评论人信息-->
                                        <div style="min-height: 10px;margin-top: -6px">
                                            <span th:text="${reply.getNickname()}" style="font-size: 10px;color: #999999;margin-left: -7px">毛毛</span>
                                            <span th:text="${#dates.format(reply.getCommentTime(),'yyyy-MM-dd')}" style="font-size: 10px;color: #999999">2022-08-02</span>
                                            <span class="pull-right mgr8">99</span>
                                            <span class="glyphicon glyphicon-thumbs-up pull-right" style="margin-right: 4px;margin-top: 2px" ></span>
                                        </div>
                                        <!--评论内容-->
                                        <div class="flex flex1">
                                            <a type="button" data-toggle="modal" data-target="#comment-reply" data-commentId="1" data-commentNickname="毛毛" th:attr="data-commentId=${comment.getId()},data-commentNickname=${comment.getNickname()}" onclick="reply(this)" style="color: #222222" class="teamSelect">
                                                <p th:text="${reply.getContent()}" style="margin-left: -7px;letter-spacing: 1px;margin-top: 0">
                                                    我来组成内容,感觉应该还可以吧，应该还行吧,嘿嘿
                                                    我来组成内容,感觉应该还可以吧，应该还行吧
                                                </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--底部栏-->
    <div class="m-backcolor flex flex1" style="margin-left: -8px;position: fixed;bottom: 0;width: 100%;justify-content: space-evenly;align-items: center ;height: 50px;border-top: 1.5px solid #eeeeee">
        <button>赞同 100</button>
        <button>收藏 100</button>
        <button>评论 100</button>
    </div>
<script type="text/javascript" src="../static/js/jquery-2.0.3.js" th:src="@{/js/jquery-2.0.3.js}"></script>
</body>
<script>
    if([[${isFollow}]]){
        $("#followBtn").on("click", ".m-edit" ,function (e) {
            this.value === "0" ? addFollow(e) : removeFollow(e);
        })
    }else{
        $("#followBtn").on("click", ".m-edit" ,function (e) {
            this.value === "0" ? addFollow(e) : removeFollow(e);
        })
    }


    addFollow = function(e) {
        $("#follow").load("/addFollow",{
            "followId" : [[${passage.getUser().getId()}]]
        },function (responseTxt, statusTxt, xhr) {
            console.log($("#followBtn").html(responseTxt))
        });
    }

    removeFollow = function (e) {
        $("#cancelFollow").load("/cancelFollow",{
            "followId" : [[${passage.getUser().getId()}]]
        },function (responseTxt, statusTxt, xhr) {
            console.log($("#followBtn").html(responseTxt))
        });
    }
</script>
</html>