<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文章</title>
    <link rel="stylesheet" href="../static/css/maomao.css" th:href="@{/css/maomao.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no" />
    <style>
        [name=commentContent] p{
            margin: 0;
        }
    </style>
</head>
<body class="flex flex1 column">
    <div style="margin: -8px">
        <div class="flex m-mg8">
            <div class="m-font-gray m-card-title" id="return">返回</div>
        </div>
    </div>
    <div>
        <h4 class="m-card-title" th:text="${passage.getTitle()}">学习，永无止尽</h4>
    </div>
    <div class="flex flex1" style="margin-top: 16px">
        <div>
            <img class="m-headPicture-circle" style="width: 30px;height: 30px" th:src="${passage.getUser().getPortrait()}" alt="">
        </div>
        <div class="flex1" style="margin-left: 8px" id="user">
            <div class="m-card-introduce" th:text="${passage.getUser().getNickname()}">毛毛</div>
            <div th:text="${passage.getUser().getIntroduce()}" class="m-font-gray m-card-introduce">你要去兜风吗</div>
        </div>
        <div th:fragment="followBtn" id="followBtn" style="margin-top: 3px">
            <button type="button" th:hidden="${isFollow}" value="0" class="m-edit m-card-title" id="follow">关注</button>
            <button type="button" th:hidden="${!isFollow}" value="1" class="m-cancelFollow m-edit m-card-title" id="cancelFollow" >取关</button>
        </div>
    </div>
    <!--内容-->
    <div th:utext="${passage.getContent()}" class="m-card-content" style="margin-top: 10px">我是内容我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br>我是内容<br></div>
    <div class="flex flex1">
        <div class="m-font-gray m-card-introduce">编辑于&nbsp</div>
        <div th:text="${#dates.format(passage.getCreateTime(), 'yyyy-MM-dd')}" class="m-font-gray m-card-introduce"> 2022-08-09</div>
        <div class="m-font-gray m-card-introduce">&nbsp · &nbsp著作权归作者所有</div>
    </div>
    <!--评论-->
    <div id="comment-form" class="flex flex1" style="margin-bottom: 100px">
        <div class="flex flex1 column" style="margin-bottom: 50px">
            <div class="flex" style="margin-top: 8px;margin-bottom: 8px">
                <div class="m-card-title">留言</div>
            </div>
            <!--留言-->
            <div id="commentArea" style="margin-top: 3px">
                <input type="text" hidden="hidden" name="parentCommentId" id="parentCommentId" value="-1">
                <div style="text-align: center;margin-top: 3px">
                    <label for="content"></label>
                    <textarea id="content" name="content" class="m-card-title" style="width: 98%;height: 100px"></textarea>
                </div>
                <div class="flex" style="justify-content: flex-end;margin-top: 10px">
                    <button id="commentBtn" class="m-card-title">留言</button>
                </div>
            </div>
            <!--评论区-->
            <div th:fragment="comment-container" id="comment-container">
                <div th:fragment="commentList">
                    <!--左边头像，右边评论内容-->
                    <div class="flex flex1" style="margin-top: 12px" th:each="comment : ${passage.getComments()}">
                        <!--头像-->
                        <div style="flex: 1">
                            <img class="m-comment-picture" th:src="${comment.getUser().getPortrait()}" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">
                        </div>
                        <!--评论内容(分为上下两部分,评论人信息、评论内容)-->
                        <div class="flex flex1 column" style="flex: 9">
                            <!--评论人信息-->
                            <div style="min-height: 10px;margin-top: -4px">
                                <span th:text="${comment.getUser().getNickname()}" class="m-comment-userInfo" style="margin-left: -5px">毛毛</span>
                                <span th:text="${#dates.format(comment.getCreateTime(),'yyyy-MM-dd')}" class="m-comment-userInfo">2022-08-02</span>
                            </div>
                            <!--评论内容-->
                            <input hidden="hidden" th:value="${comment.getId()}">
                            <input hidden="hidden" th:value="${comment.getUser().getNickname()}">
                            <div name="commentContent" class="flex flex1 column">
                                <div>
                                    <p th:text="${comment.getContent()}" style="margin-left: -5px;margin-top: 0" class="m-comment-content">
                                        我来组成内容,感觉应该还可以吧，应该还行吧,嘿嘿
                                        我来组成内容,感觉应该还可以吧，应该还行吧
                                    </p>
                                </div>
                            </div>
                            <!--二级评论-->
                            <div th:if="${#arrays.length(comment.getReplyComments())>0}">
                                <div class="flex flex1" th:each="reply : ${comment.getReplyComments()}">
                                    <div class="flex" style="margin-top: 8px">
                                        <!--头像-->
                                        <div style="flex: 1">
                                            <img th:src="${reply.getUser().getPortrait()}" style="border-radius: 50%;width: 25px;height: 25px;" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">
                                        </div>
                                        <!--评论内容(分为上下两部分,评论人信息、评论内容)-->
                                        <div class="flex flex1 column" style="flex: 9">
                                            <!--评论人信息-->
                                            <div style="min-height: 10px;margin-top: -3px;margin-left: 4px">
                                                <span th:text="${reply.getUser().getNickname()} + ' 回复 '" class="m-comment-userInfo">毛毛</span>
                                                <span th:text="${reply.getParentComment().getUser().getNickname()}" class="m-comment-userInfo">毛毛</span>
                                                <span th:text="${#dates.format(reply.getCreateTime(),'yyyy-MM-dd')}" class="m-comment-userInfo">2022-08-02</span>
                                            </div>
                                            <!--评论内容-->
                                            <input hidden="hidden" th:value="${reply.getId()}">
                                            <input hidden="hidden" th:value="${reply.getUser().getNickname()}">
                                            <div name="commentContent" class="flex flex1" style="margin-left: 4px">
                                                <div style="color: #222222">
                                                    <p th:text="${reply.getContent()}" style="margin-top: 0" class="m-comment-content">
                                                        我来组成内容,感觉应该还可以吧，应该还行吧,嘿嘿
                                                        我来组成内容,感觉应该还可以吧，应该还行吧
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--点击回复跳出输入框-->
    <div id="replyBox" style="position: absolute">
        <div class="flex">
            <input type="text" hidden="hidden" id="replyCommentId">
            <label for="reply"></label>
            <input type="text" name="content" id="reply" style="width: 200px;padding: 4px" hidden="hidden">
            <button style="margin-left: 6px" id="replySend" hidden="hidden">发送</button>
        </div>
    </div>

    <!--底部栏-->
<script type="text/javascript" src="../static/js/jquery-2.0.3.js" th:src="@{/js/jquery-2.0.3.js}"></script>
</body>
<script>
    //点击返回，去到上一个页面
    $("#return").click(function () {
        window.history.back()
    })
    //点击用户名跳转到主页
    $("#user").click(function () {
        document.location.href = "/home/" + [[${passage.getUser().getId()}]]
    })

    $("#replySend").click(function () {
        //判断内容不可为空
        if($("#reply").val() === ''){
            return alert("评论不可为空")
        }
        //设置按钮不可点击
        $(this).prop("disabled", "true");
        $("#comment-container").load("/passage/" + [[${passage.getId()}]] + "/comment",{
            "content" : $("#reply").val(),
            "user.id" : [[${passage.getUser().getId()}]],
            "parentCommentId" : $("#replyCommentId").val()
        },function (responseTxt, statusTxt, xhr) {
            cleanContent()
            //设置按钮可以点击
            $("#replySend").removeAttr("disabled");
            $("#reply").hide();
            $("#replySend").hide()
        })
    })

    $("body").click(function (e) {
        if ($(e.target).closest("#replyBox").length === 0) {
            $("#reply").hide();
            $("#replySend").hide()
        }
    });

    $(document).on("click", "[name='commentContent']",function (e){
        e.stopPropagation()
        $("#reply").toggle()
        $("#replySend").toggle()
        $("#replyBox").css({left:'6px',top:(e.target.offsetHeight + e.target.offsetTop) + 'px'})
        let replyUser = this.previousElementSibling.value
        let replyCommentId = this.previousElementSibling.previousElementSibling.value
        $("#replyCommentId").val(replyCommentId)
        $("#reply").attr("placeholder", "回复" + replyUser + "：")
        $("#reply").focus()
    })

    //发表单个评论
    $("#commentBtn").click(function (){
        postComment()
    })

    cleanContent = function (){
        $("#content").val('')
        $("#reply").val('')
    }

    postComment = function (){
        //判断内容不可为空
        if($("#content").val() === ''){
            return alert("评论不可为空")
        }
        //设置按钮不可点击
        $("#commentBtn").prop("disabled", "true");
        $("#comment-container").load("/passage/" + [[${passage.getId()}]] + "/comment",{
            "content" : $("#content").val(),
            "user.id" : [[${passage.getUser().getId()}]],
            "parentCommentId" : $("#parentCommentId").val()
        },function (responseTxt, statusTxt, xhr) {
            cleanContent()
            //设置按钮可以点击
            $("#commentBtn").removeAttr("disabled");
        })
    }

    if([[${isFollow}]]){
        $("#followBtn").on("click", ".m-edit" ,function (e) {
            this.value === "0" ? addFollow(e) : removeFollow(e);
        })
    }else{
        $("#followBtn").on("click", ".m-edit" ,function (e) {
            this.value === "0" ? addFollow(e) : removeFollow(e);
        })
    }

    addFollow = function(e) {
        $("#follow").load("/addFollow",{
            "followId" : [[${passage.getUser().getId()}]]
        },function (responseTxt, statusTxt, xhr) {
            console.log($("#followBtn").html(responseTxt))
        });
    }

    removeFollow = function (e) {
        $("#cancelFollow").load("/cancelFollow",{
            "followId" : [[${passage.getUser().getId()}]]
        },function (responseTxt, statusTxt, xhr) {
            console.log($("#followBtn").html(responseTxt))
        });
    }
</script>
</html>