<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>问题</title>
    <link rel="stylesheet" href="../static/css/maomao.css" th:href="@{/css/maomao.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no" />
</head>
<body class="flex flex1 column" style="background-color: #F6F6F6;margin: 0">
    <div class="white">
        <div class="flex m-mg8 column">
            <div class="flex">
                <a th:href="@{/creation}" class="m-font-gray m-card-title m-underlineCancel">返回</a>
                <div class="flex1 m-card-title" style="text-align: center">问题</div>
                <div class="m-font-gray m-card-title" id="search_btn" style="margin-right: 8px">搜索</div>
            </div>
            <!--搜索-->
            <div id="search_area" hidden="false" style="text-align: center;margin-top: 8px">
                <div class="white">
                    <div class="flex" style="width: 80%;margin-left: 30px">
                        <div class="flex flex1 search">
                            <div style="margin-top: 3px;margin-left: 3px">
                                <img src="../static/image/search.png" th:src="@{/image/search.png}" class="search-icon">
                            </div>
                            <div style="flex: 1;margin-left: 2px;margin-right: 2px;margin-top: 1px">
                                <input type="text" class="search-input">
                            </div>
                            <div class="search-font">搜索</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:fragment="question_only" id="question_only">
        <div class="flex flex1 column white" style="margin-bottom: 5px" th:each="question : ${questions}">
            <div>
                <img alt="" class="m-headPicture-circle m-mg8" th:src="${question.getUser().getPortrait()}">
                <span th:text="${question.user.getNickname()}" class="m-font-gray m-card-introduce" style="position: absolute;margin-top: 10px;margin-left: 3px">毛毛</span>
            </div>
            <input type="text" th:value="${question.getId()}" hidden="hidden">
            <div th:text="${question.getTitle()}" name="question" class="m-card-title" style="margin-left: 8px;">
                JavaScript怎么学?
            </div>
            <div class="m-mg8">
                <div th:text="${question.getAnswers().size()} + 回答" class="m-font-gray m-card-introduce">10 回答</div>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript" src="../static/js/jquery-2.0.3.js" th:src="@{/js/jquery-2.0.3.js}"></script>
<script type="text/javascript">
    let search_btn = document.getElementById("search_btn");
    let search_area = document.getElementById("search_area");

    //点击搜索显示或关闭搜索框
    search_btn.addEventListener("click", function () {
        search_area.hidden = search_area.hidden ? false : true;
    })

    $(document).on("click", "[name='question']",function () {
        document.location.href = "/question/questionAnswer/" + this.previousElementSibling.value
    })


    $(".search-font").click(function () {
        $("#question_only").load("/search",{
            "type" : "questionOnly",
            "keyword" : $(".search-input").val()
        },function (responseTxt, statusTxt, xhr) {
        })
    })

</script>
</html>