<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>推荐</title>
    <link rel="stylesheet" href="../static/css/maomao.css" th:href="@{/css/maomao.css}">
</head>
<body class="flex flex1 m-backcolor column">
    <div class="flex flex1 m-backcolor" style="justify-content: space-evenly">
        <a class="m-font-gray m-mg8">说说</a>
        <a class="m-font-gray m-mg8">推荐</a>
        <a class="m-font-gray m-mg8 m-headActive">热榜</a>
    </div>
    <div class="flex flex1" style="margin-top: 10px;border-bottom: 1px solid #EBEBEB">
        <div style="margin-right: 8px">1</div>
        <div class="flex flex1 column">
            <div class="flex flex1">
                <div style="flex: 4">我是标题我是标题我是标题我是标题我就是标题</div>
                <div style="flex: 1">
                    <img style="width: 50px;height: 50px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/pdx.jpg" alt="">
                </div>
            </div>
            <div class="flex" style="justify-content: space-between">
                <div class="flex1 m-font-gray" style="font-size: 10px">100 赞同 100收藏</div>
                <div class="m-font-gray" style="font-size: 10px;margin-right: 5px" >2022-08-11</div>
            </div>
        </div>

    </div>
    <div class="flex flex1" style="margin-top: 10px;border-bottom: 1px solid #EBEBEB">
        <div style="margin-right: 8px">1</div>
        <div class="flex flex1 column">
            <div class="flex flex1">
                <div style="flex: 4">我是标题我是标题我是标题我是标题我就是标题</div>
                <div style="flex: 1">
                    <img style="width: 50px;height: 50px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/pdx.jpg" alt="">
                </div>
            </div>
            <div class="flex" style="justify-content: space-between">
                <div class="flex1 m-font-gray" style="font-size: 10px">100 赞同 100收藏</div>
                <div class="m-font-gray" style="font-size: 10px;margin-right: 5px" >2022-08-11</div>
            </div>
        </div>

    </div>
    <div class="flex flex1" style="margin-top: 10px;border-bottom: 1px solid #EBEBEB">
        <div style="margin-right: 8px">1</div>
        <div class="flex flex1 column">
            <div class="flex flex1">
                <div style="flex: 4">我是标题我是标题我是标题我是标题我就是标题</div>
                <div style="flex: 1">
                    <img style="width: 50px;height: 50px" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/pdx.jpg" alt="">
                </div>
            </div>
            <div class="flex" style="justify-content: space-between">
                <div class="flex1 m-font-gray" style="font-size: 10px">100 赞同 100收藏</div>
                <div class="m-font-gray" style="font-size: 10px;margin-right: 5px" >2022-08-11</div>
            </div>
        </div>

    </div>

    <!--底部导航-->
    <div style="margin-top: 50px">
        <div style="position: fixed;bottom: 0;width: 100%">
            <div class="m-backcolor flex flex1" style="justify-content: space-evenly;align-items: center ;height: 50px">
                <a>首页</a>
                <a>关注</a>
                <a>我的</a>
            </div>
        </div>
    </div>
</body>
</html>