<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>说说</title>
    <link rel="stylesheet" href="../static/css/maomao.css" th:href="@{/css/maomao.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no" />
</head>
<body class="flex flex1 column m-backcolor">
    <div class="flex flex1 m-backcolor" style="justify-content: space-evenly">
        <a th:href="@{/talk}" class="m-font-gray m-mg8 m-underlineCancel m-headActive">说说</a>
        <a th:href="@{/}" class="m-font-gray m-card-title m-mg8 m-underlineCancel">推荐</a>
        <a th:href="@{/rank}" class="m-font-gray m-card-title m-mg8 m-underlineCancel">热榜</a>
    </div>
    <!--点击用户自己头像选择框-->
    <div id="userChoose" hidden="hidden" style="width: 100%; position: fixed; bottom: 0;z-index: 100">
        <div class="flex flex1 column" style="background-color: white;border-radius: 10px;text-align: center">
            <div id="write" class="m-card-title" style="padding-top: 15px;padding-bottom: 15px;border-bottom: 1px solid #EBEBEB">写说说</div>
            <div id="myPage" class="m-card-title" style="padding-top: 15px;padding-bottom: 15px;border-bottom: 6px solid #EBEBEB">主页</div>
            <div id="cancel" class="m-card-title" style="margin-top: 15px;margin-bottom: 15px">取消</div>
        </div>
    </div>
    <input type="text" hidden="hidden" id="userId" th:value="${user.getId()}">
    <div class="flex" style="justify-content: flex-end">
        <div class="m-card-title" th:text="${user.getNickname()}" style="margin-right: 6px;margin-top: 6px"></div>
        <img id="user" th:src="${user.getPortrait()}" alt="" style="border-radius: 3px;width: 52px;height: 50px">
    </div>
    <div class="flex flex1" style="margin-top: 16px;border-bottom: 1px solid #EBEBEB" th:each="talk : ${talks}">
        <input type="text" hidden="hidden" th:value="${talk.getUser().getId()}">
        <div name="user">
            <img th:src="${talk.getUser().getPortrait()}" alt="" class="m-talk-picture" src="https://maomao-image.oss-cn-guangzhou.aliyuncs.com/img/20220801204640.png">
        </div>
        <div class="flex flex1 column" style="margin-left: 4px;margin-top: -2px">
            <div class="m-talk-username" th:text="${talk.getUser().getNickname()}">毛毛</div>
            <input type="text" hidden="hidden" th:value="${talk.getId()}">
            <input type="text" hidden="hidden" value="-1">
            <input type="text" hidden="hidden" th:value="${talk.getUser().getNickname()}">
            <div name="talk" th:text="${talk.getContent()}" class="m-talk-content">今天差不多就是写了两个页面，在写第一个页面的时候都已经感觉很想放弃了，但是还是坚持了下来，其实就是这样，在自我怀疑中前进，不断进步</div>
            <div th:text="${#dates.format(talk.getCreateTime(),'yyyy-MM-dd')}" class="m-font-gray" style="font-size: 14px;margin-top: 8px">2022-08-08</div>
            <div th:if="${talk.getComments().size() > 0}" style="background-color: #eeeeee;border-radius: 3px;margin-top: 6px">
                <div style="margin-bottom: 6px">
                    <div th:fragment="comment-container" th:id="${'comment-container' + talk.getId()}">
                        <div th:fragment="commentList">
                            <!--左边头像，右边评论内容-->
                            <div class="flex flex1" style="margin-top: 6px" th:each="comment : ${talk.getComments()}">
                                <!--评论内容(分为上下两部分,评论人信息、评论内容)-->
                                <div  style="flex: 9;margin-left: 6px">
                                    <div style="font-size: 0">
                                        <!--评论人信息-->
                                        <span th:text="${comment.getUser().getNickname()} + '：'" class="m-talk-content" style="color: #389393">毛毛：</span>
                                        <!--评论内容-->
                                        <input type="text" hidden="hidden" th:value="${talk.getId()}">
                                        <input hidden="hidden" th:value="${comment.getId()}">
                                        <input hidden="hidden" th:value="${comment.getUser().getNickname()}">
                                        <span name="commentContent">
                                            <span th:text="${comment.getContent()}" class="m-talk-content">
                                                我来组成内容,感觉应该还可以吧，应该还行吧,嘿嘿
                                            </span>
                                        </span >
                                    </div>
                                    <!--二级评论-->
                                    <div th:if="${#arrays.length(comment.getReplyComments())>0}">
                                        <div class="flex flex1" th:each="reply : ${comment.getReplyComments()}">
                                            <div class="flex" style="margin-top: 8px">
                                                <!--评论内容(分为上下两部分,评论人信息、评论内容)-->
                                                <div style="font-size: 0">
                                                    <!--评论人信息-->
                                                    <span>
                                                        <span th:text="${reply.getUser().getNickname()}" class="m-talk-content" style="color: #389393">毛毛</span>
                                                        <span class="m-talk-content">回复</span>
                                                        <span th:text="${reply.getParentComment().getUser().getNickname()} + '：'" class="m-talk-content" style="color: #389393">毛毛：</span>
                                                    </span>
                                                    <!--评论内容-->
                                                    <input type="text" hidden="hidden" th:value="${talk.getId()}">
                                                    <input hidden="hidden" th:value="${reply.getId()}">
                                                    <input hidden="hidden" th:value="${reply.getUser().getNickname()}">
                                                    <span name="commentContent">
                                                        <span th:text="${reply.getContent()}" class="m-talk-content">
                                                            我来组成内容,感觉应该还可以吧，应该还行吧,嘿嘿
                                                        </span>
                                                    </span >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${talk.getComments().size() == 0}" style="background-color: #eeeeee;border-radius: 3px;margin-top: 6px">
                <div>
                    <div th:fragment="comment-container" th:id="${'comment-container' + talk.getId()}"></div>
                </div>
            </div>
            <div style="height: 6px"></div>
        </div>
    </div>
    <div class="flex flex1" style="justify-content: center;margin-top: 20px;margin-bottom: 20px">已经到底了！</div>

    <!--点击回复跳出输入框-->
    <div id="replyBox" style="position: absolute">
        <div class="flex">
            <input hidden="hidden" id="talkId">
            <input type="text" hidden="hidden" id="replyCommentId">
            <label for="reply"></label>
            <input type="text" name="content" id="reply" class="m-talk-input" hidden="hidden">
            <button style="margin-left: 6px" id="replySend" hidden="hidden">发送</button>
        </div>
    </div>
    <!--底部导航-->
    <div style="margin-top: 50px">
        <div style="position: fixed;bottom: 0;width: 100%">
            <div class="m-backcolor flex flex1" style="justify-content: space-evenly;align-items: center ;height: 50px">
                <a th:href="@{/}" class="m-underlineCancel m-card-title">首页</a>
                <a th:href="@{/follow}" class="m-underlineCancel m-card-title">关注</a>
                <a th:href="@{/personal}" class="m-underlineCancel m-card-title">我的</a>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../static/js/jquery-2.0.3.js" th:src="@{/js/jquery-2.0.3.js}"></script>
<script>
    $("[name='user']").click(function () {
        document.location.href = "/home/" + this.previousElementSibling.value
    })
    $("#replySend").click(function () {
        //判断内容不可为空
        if($("#reply").val() === ''){
            return alert("评论不可为空")
        }
        //设置按钮不可点击
        $(this).prop("disabled", "true");
        $("#comment-container" + $("#talkId").val()).load("/talk/" + $("#talkId").val() + "/comment",{
            "content" : $("#reply").val(),
            "parentCommentId" : $("#replyCommentId").val()
        },function (responseTxt, statusTxt, xhr) {
            cleanContent()
            //设置按钮可以点击
            $("#replySend").removeAttr("disabled");
            $("#reply").hide();
            $("#replySend").hide()
        })
    })


    $("body").click(function (e) {
        if ($(e.target).closest("#userChoose").length === 0) {
            $("#userChoose").slideUp()
        }
        if ($(e.target).closest("#replyBox").length === 0) {
            $("#reply").hide();
            $("#replySend").hide()
        }
    });

    $(document).on("click", "[name='commentContent'],[name='talk']",function (e){
        e.stopPropagation()
        $("#reply").toggle()
        $("#replySend").toggle()
        $("#replyBox").css({left:'55px',top:(e.target.offsetHeight + e.target.offsetTop) + 'px'})
        let replyUser = this.previousElementSibling.value
        let replyCommentId = this.previousElementSibling.previousElementSibling.value
        let talkId = this.previousElementSibling.previousElementSibling.previousElementSibling.value
        $("#replyCommentId").val(replyCommentId)
        $("#talkId").val(talkId)
        $("#reply").attr("placeholder", "回复" + replyUser + "：")
        $("#reply").focus()
    })

    cleanContent = function (){
        $("#content").val('')
        $("#reply").val('')
    }

    $("#user").click(function (e) {
        e.stopPropagation()
        $("#userChoose").slideToggle()
    })

    $("#cancel").click(function (e){
        e.stopPropagation()
        $("#userChoose").slideUp()
    })

    $("#myPage").click(function (e) {
        e.stopPropagation()
        document.location.href = "/home/" + $("#userId").val()
    })

    $("#write").click(function (e) {
        e.stopPropagation()
        document.location.href = "/talk/write"
    })

</script>
</html>