<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改文章</title>
    <link rel="stylesheet" href="../static/css/maomao.css" th:href="@{/css/maomao.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no" />
    <link href="https://unpkg.com/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet">
    <!-- 引入 layui.css -->
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
    <style>
        #editor—wrapper {
            border: 1px solid #ccc;
            z-index: 100; /* 按需定义 */
        }
        img{
            height: 30%;
        }
        #toolbar-container { border-bottom: 1px solid #ccc; }
        #editor-container { height: 500px; }
    </style>
</head>
<body class="flex flex1 column" style="background-color: #e8e8e8;margin: 0;height: 100vh">
<div class="m-backcolor">
    <div class="flex m-mg8">
        <div class="m-font-gray m-card-title" id="return">返回</div>
        <div class="flex1 m-card-title" style="text-align: center;margin-right: 40px">写文章</div>
    </div>
</div>
<form class="m-backcolor">
    <div class="m-mg8">
        <label for="title"></label>
        <input type="text" th:value="${passage.getTitle()}" id="title" name="title" placeholder="标题" style="height: 25px;width: 70%">
    </div>
    <div class="flex m-mg8">
        <div class="m-card-introduce" style="margin-top: 20px;margin-right: 8px">封面(可选)</div>
        <input type="text" hidden="hidden" name="picture" id="picture" th:value="${passage.getPicture()}">
        <div th:if="${#strings.isEmpty(passage.getPicture())}">
            <i id="cover" class="layui-icon layui-icon-picture" style="font-size: 60px"></i>
            <img id="preview" src="" alt="" class="m-cover" style="display: none">
        </div>
        <div th:if="${!#strings.isEmpty(passage.getPicture())}">
            <img id="preview" src="" alt="" class="m-cover" th:src="${passage.getPicture()}">
        </div>
    </div>
    <div id="editor—wrapper">
        <div id="toolbar-container"><!-- 工具栏 --></div>
        <div id="editor-container"><!-- 编辑器 --></div>
    </div>
    <div class="m-mg8" style="text-align: center;margin-right: 8px">
        <button type="button" class="m-card-title" style="width: 90%" id="passage">提交</button>
    </div>
</form>

</body>
<script type="text/javascript" src="../static/js/jquery-2.0.3.js" th:src="@{/js/jquery-2.0.3.js}"></script>
<script src="https://unpkg.com/@wangeditor/editor@latest/dist/index.js"></script>
<!-- 引入 layui.js -->
<script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
<script>
    //点击返回，去到上一个页面
    $("#return").click(function () {
        window.history.back()
    })
    const { createEditor, createToolbar } = window.wangEditor

    const editorConfig = { MENU_CONF: {} ,
        placeholder: 'Type here...',
        onChange(editor) {
            const html = editor.getHtml()
            console.log('editor content', html)
            // 也可以同步到 <textarea>
        }}
    editorConfig.MENU_CONF['uploadImage'] = {
        async customUpload(file, insertFn) {
            let formData = new FormData();
            console.log(file)
            formData.append("file",file)
            console.log(formData.get("file"))
            $.ajax({
                url:"/upload",
                data: formData,
                type : 'POST',
                processData: false,
                contentType: false,
                dataType : 'json',
                success :function(res){
                    console.log(res)
                    insertFn(res.data)
                },
                error: function (err) {
                    console.log(err)
                }
            })
        }
    }

    let content = "[(${passage.getContent()})]"

    const editor = createEditor({
        selector: '#editor-container',
        html: content,
        config: editorConfig,
        mode: 'default', // or 'simple'
    })

    const toolbarConfig = {}

    const toolbar = createToolbar({
        editor,
        selector: '#toolbar-container',
        config: toolbarConfig,
        mode: 'default', // or 'simple'
    })

    let passage_btn = document.getElementById("passage");
    passage_btn.addEventListener("click",function () {
        let passageId = [[${passage.getId()}]];
        let passage = {"content" : editor.getHtml(), "title" : $("#title").val(), "picture" : $("#picture").val(), "id" : passageId};
        $.ajax({
            url:"/passage/update",
            data: passage,
            type : 'POST',
            dataType : 'text',
            success :function(data){
                //发送成功返回到文章管理页面
                if(data == "success"){
                    document.location.href = "/passage/manage" ;
                }else{
                    alert("出错了，请稍后再试")
                }
            },

        })

    })

    //图片上传
    layui.use('upload', function(){
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#cover,#preview' //绑定元素
            ,url: '/upload' //上传接口
            ,auto: true //选择文件后自动上传
            ,bindAction: '#save' //指向一个按钮触发上传
            ,size: 0
            ,choose: function(obj){
                //将每次选择的文件追加到文件队列
                var files = obj.pushFile();

                //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                obj.preview(function(index, file, result) {
                    console.log(index); //得到文件索引
                    console.log(file); //得到文件对象
                    console.log(result)
                    //上传图片预览
                    $("#preview")[0].src = result;
                    $("#preview")[0].style.display = '';
                    $("#cover").hide()
                })
            }
            ,done: function(res){
                //文件url
                console.log(res.data)
                $("#picture").val(res.data)
                //上传完毕回调
            }
            ,error: function(){
                //请求异常回调
            }
        });
    });
</script>
</html>