<!DOCTYPE html>
<html lang="ZH-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <link rel="stylesheet" href="../static/css/maomao.css" th:href="@{/css/maomao.css}">
    <!-- 引入 layui.css -->
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
</head>
<body class="flex flex1 column" style="margin: 0">
    <div class="m-backcolor">
        <div class="flex m-mg8">
            <a class="m-font-gray m-underlineCancel">返回</a>
        </div>
    </div>
    <div class="m-mg8">
        <div>
            <img id="image-preview" style="border-radius: 50%;width: 50px;height: 50px" th:src="${userInfo.getPortrait()}">
        </div>
        <div>基本资料</div>
        <div th:if="${my == true}">
            <form th:action="@{/editData/save}" method="post">
                <input type="text" hidden="true" name="portrait" id="portrait">
                <input type="text" hidden="true" th:value="${userInfo.getId()}" name="id">
                <div class="flex flex1" style="margin-top: 8px">
                    <label class="m-font-gray" style="font-size: 13px;margin-right: 8px" for="nickname">昵称</label>
                    <input th:value="${userInfo.getNickname()}" type="text" name="nickname" id="nickname" placeholder="昵称">
                </div>
                <div class="flex flex1" style="margin-top: 8px">
                    <label class="m-font-gray" style="font-size: 13px;margin-right: 8px" for="introduce">介绍</label>
                    <input th:value="${userInfo.getIntroduce()}" type="text" name="introduce" id="introduce" placeholder="介绍">
                </div>
                <div class="flex flex1" style="margin-top: 8px">
                    <label class="m-font-gray" style="font-size: 13px;margin-right: 8px" for="sex">性别</label>
                    <input th:value="${userInfo.getSex()}" type="text" name="sex" id="sex" placeholder="性别">
                </div>
                <div class="flex flex1" style="margin-top: 8px">
                    <label class="m-font-gray" style="font-size: 13px;margin-right: 8px" for="birthday">生日</label>
                    <input th:value="${#dates.format(userInfo.getBirthday(), 'yyyy-MM-dd')}" type="text" name="birthdayString" id="birthday" placeholder="生日">
                </div>
                <div class="flex flex1" style="margin-top: 8px">
                    <label class="m-font-gray" style="font-size: 13px;margin-right: 8px" for="occupation">职业</label>
                    <input th:value="${userInfo.getOccupation()}" type="text" name="occupation" id="occupation" placeholder="职业">
                </div>
                <div class="flex flex1" style="justify-content: flex-end;margin-right: 8px">
                    <button id="save" type="submit">保存</button>
                </div>
            </form>
        </div>
        <div th:if="${my == false}">
            <form th:action="@{/editData/save}" method="post">
                <input type="text" hidden="true" th:value="${userInfo.getId()}" name="id">
                <div class="flex flex1" style="margin-top: 8px">
                    <label class="m-font-gray" style="font-size: 13px;margin-right: 8px" for="nickname">昵称</label>
                    <input th:value="${userInfo.getNickname()}" type="text" name="nickname" id="nickname" placeholder="昵称" disabled="disabled">
                </div>
                <div class="flex flex1" style="margin-top: 8px">
                    <label class="m-font-gray" style="font-size: 13px;margin-right: 8px" for="introduce">介绍</label>
                    <input th:value="${userInfo.getIntroduce()}" type="text" name="introduce" id="introduce" placeholder="介绍" disabled="disabled">
                </div>
                <div class="flex flex1" style="margin-top: 8px">
                    <label class="m-font-gray" style="font-size: 13px;margin-right: 8px" for="sex">性别</label>
                    <input th:value="${userInfo.getSex()}" type="text" name="sex" id="sex" placeholder="性别" disabled="disabled">
                </div>
                <div class="flex flex1" style="margin-top: 8px">
                    <label class="m-font-gray" style="font-size: 13px;margin-right: 8px" for="birthday">生日</label>
                    <input th:value="${#dates.format(userInfo.getBirthday(), 'yyyy-MM-dd')}" type="text" name="birthdayString" id="birthday" placeholder="生日" disabled="disabled">
                </div>
                <div class="flex flex1" style="margin-top: 8px">
                    <label class="m-font-gray" style="font-size: 13px;margin-right: 8px" for="occupation">职业</label>
                    <input th:value="${userInfo.getOccupation()}" type="text" name="occupation" id="occupation" placeholder="职业" disabled="disabled">
                </div>
            </form>
        </div>

    </div>
</body>
<script type="text/javascript" src="../static/js/jquery-2.0.3.js" th:src="@{/js/jquery-2.0.3.js}"></script>
<!-- 引入 layui.js -->
<script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
<script type="text/javascript">
    layui.use('upload', function(){
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#image-preview' //绑定元素
            ,url: '/upload' //上传接口
            ,auto: true //选择文件后自动上传
            ,bindAction: '#save' //指向一个按钮触发上传
            ,choose: function(obj){
                //将每次选择的文件追加到文件队列
                var files = obj.pushFile();

                //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                obj.preview(function(index, file, result) {
                    console.log(index); //得到文件索引
                    console.log(file); //得到文件对象
                    console.log(result)
                    //上传图片预览
                    $("#image-preview")[0].src = result;
                })
            }
            ,done: function(res){
                //文件url
                console.log(res.data)
                $("#portrait").val(res.data)
                //上传完毕回调
            }
            ,error: function(){
                $("#portrait").val('[[${userInfo.getPortrait()}]]')
                //请求异常回调
            }
        });
    });
</script>
</html>