<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maomao.zhihu.mapper.AnswerMapper">

    <resultMap id="BaseResultMap" type="com.maomao.zhihu.entity.Answer">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="views" column="views" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="BIT"/>
        <association property="user"
                     select="com.maomao.zhihu.mapper.UserMapper.getUserById"
                     column="user_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,content,views,create_time,
        update_time,is_delete
    </sql>

    <delete id="deleteAnswer">
        DELETE a,b FROM answer_user a LEFT JOIN question_answer b ON a.answer_id = b.answer_id
        WHERE a.answer_id = #{answerId}
    </delete>

    <select id="getAnswerById" resultMap="BaseResultMap">
         SELECT * FROM
         (SELECT a.answer_id,b.user_id FROM question_answer a LEFT JOIN answer_user b ON a.answer_id = b.answer_id
         WHERE a.question_id = #{id}) a LEFT JOIN answer b ON a.answer_id = b.id
         WHERE user_id = ( SELECT user_id FROM question_user a WHERE a.question_id = #{id})
    </select>

</mapper>
