<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maomao.zhihu.mapper.CommentTipMapper">

    <resultMap id="BaseResultMap" type="com.maomao.zhihu.entity.CommentTip">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="commentId" column="comment_id" jdbcType="BIGINT"/>
            <result property="passageId" column="passage_id" jdbcType="BIGINT"/>
            <result property="answerId" column="answer_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="isRead" column="is_read" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <sql id="Base_Column_List">
        id,comment_id,passage_id,
        answer_id,user_id,is_read,
        create_time,update_time
    </sql>

    <select id="getMyAnswerTipCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM comment_tip WHERE passage_id IS NULL AND is_read = 0 AND user_id = #{userId}
    </select>
    <select id="getMyPassageTipCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM comment_tip WHERE answer_id IS NULL AND is_read = 0 AND user_id = #{userId}
    </select>


    <resultMap id="CommentResultMap" type="com.maomao.zhihu.entity.Comment">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="parentCommentId" column="parent_comment_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="BIT"/>
        <result property="tipId" column="tip_id" jdbcType="VARCHAR"/>
        <association property="user"
                     select="com.maomao.zhihu.mapper.UserMapper.getUserByCommentId"
                     column="comment_id">
        </association>
        <association property="parentComment"
                     select="com.maomao.zhihu.mapper.CommentMapper.getParentCommentByParentCommentId"
                     column="parent_comment_id">
        </association>
        <association property="question"
                     select="com.maomao.zhihu.mapper.QuestionMapper.getSingleQuestionByAnswerId"
                     column="answer_id"/>
        <association property="answer"
                     select="com.maomao.zhihu.mapper.AnswerMapper.getSingleAnswerByAnswerId"
                     column="answer_id"/>
        <association property="passage"
                     select="com.maomao.zhihu.mapper.PassageMapper.getSinglePassageByPassageId"
                     column="passage_id"/>
    </resultMap>
    <select id="getMyAnswerTip" resultMap="CommentResultMap">
        SELECT b.id,b.content,b.parent_comment_id,b.create_time,b.is_delete,a.is_read,a.user_id,a.answer_id,a.passage_id,a.id tip_id,a.comment_id
        FROM comment_tip a
        LEFT JOIN `comment` b ON a.comment_id = b.id
        WHERE a.passage_id IS NULL AND b.is_delete = 0 AND a.user_id = #{userId}
        ORDER BY a.create_time DESC
    </select>

    <select id="getMyPassageTip" resultMap="CommentResultMap">
        SELECT b.id,b.content,b.parent_comment_id,b.create_time,b.is_delete,a.is_read,a.user_id,a.answer_id,a.passage_id,a.id tip_id,a.comment_id
        FROM comment_tip a
        LEFT JOIN `comment` b ON a.comment_id = b.id
        WHERE a.answer_id IS NULL AND b.is_delete = 0 AND a.user_id = #{userId}
        ORDER BY a.create_time DESC
    </select>
</mapper>
