<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maomao.zhihu.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.maomao.zhihu.entity.Question">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="introduce" column="introduce" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,introduce,
        create_time,update_time,is_delete
    </sql>

    <resultMap id="QuestionAnswerResultMap" type="com.maomao.zhihu.entity.Question">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="introduce" column="introduce" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="BIT"/>
        <association property="user"
                     select="com.maomao.zhihu.mapper.UserMapper.getUserById"
                     column="user_id">
        </association>
        <collection property="answers" select="com.maomao.zhihu.mapper.AnswerMapper.getAnswerById" column="id"/>
    </resultMap>
    <select id="getQuestionById" resultMap="QuestionAnswerResultMap">
        SELECT * FROM question a LEFT JOIN question_user b ON a.id = b.user_id
        where is_delete = 0 and b.user_id = #{id}
    </select>
    <select id="getManyQuestion" resultMap="QuestionAnswerResultMap">
        SELECT * FROM question a LEFT JOIN question_user b ON a.id = b.user_id
        where is_delete = 0
    </select>
</mapper>
